<%= form_for(@item, html: {role: "form"}) do |f| %>
  <% if @item.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Brand
            <%= link_to new_modalbox_brands_path, class: 'btn btn-default txt-color-green', remote: true do %>
              <i class="fa fa-plus fa-lg"></i>
            <% end %>
          </label>
          <%= f.collection_select :brand_id, Brand.order(:name_brand), :id, :name_brand, {prompt: "Select a Brand"}, {:class => 'select2'} %>
        </div>

        <div class="col-md-4">
          <label class="control-label">Vendor
            <%= link_to new_modalbox_vendors_path, class: 'btn btn-default txt-color-green', remote: true do %>
              <i class="fa fa-plus fa-lg"></i>
            <% end %>
          </label>
          <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, {prompt: "Select a Vendor"}, {:class => 'select2'} %>
        </div>
        
        <div class="col-md-4">
          <label class="control-label">Disiplin
            <%= link_to new_modalbox_disiplines_path, class: 'btn btn-default txt-color-green', remote: true do %>
              <i class="fa fa-plus fa-lg"></i>
            <% end %>
          </label>
          <%= f.collection_select :disipline_id, Disipline.order(:name), :id, :name, {prompt: "Select a Disipline"}, {:class => 'select2'} %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Type
            <%= link_to new_modalbox_types_path, class: 'btn btn-default txt-color-green', remote: true do %>
              <i class="fa fa-plus fa-lg"></i>
            <% end %>
          </label>
          <%= f.collection_select :type_id, Type.order(:name_type), :id, :name_type, {prompt: "Select a Type"}, {:class => 'select2'} %>
        </div>

        <div class="col-md-4">
          <label class="control-label">Product
            <%= link_to new_modalbox_products_path, class: 'btn btn-default txt-color-green', remote: true do %>
              <i class="fa fa-plus fa-lg"></i>
            <% end %>
          </label>
          <%= f.collection_select :product_id, Product.order(:product_name), :id, :product_name, {prompt: "Select a Product"}, {:class => 'select2'} %>
        </div>

        <div class="col-md-4">
          <label class="control-label">Unit
            <%= link_to new_modalbox_units_path, class: 'btn btn-default txt-color-green', remote: true do %>
              <i class="fa fa-plus fa-lg"></i>
            <% end %>
          </label>
          <%= f.collection_select :unit_id, Unit.order(:unit_name), :id, :unit_name, {prompt: "Select a Unit"}, {:class => 'select2'} %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label class="control-label">Class Item</label>
          <%= f.text_field :class_item, class: "form-control" %>
        </div>

        <div class="col-sm-12 col-md-6">
          <label class="control-label">Size</label>
          <%= f.text_field :size, class: "form-control", required: true %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label class="control-label">No Quotation</label>
          <%= f.text_field :no_quotation, class: "form-control" %>
        </div>
        <div class="col-sm-12 col-md-6">
          <label class="control-label">SCH</label>
          <%= f.text_field :sch, class: "form-control" %>
        </div>
      </div>
    </div>
  </fieldset>

  <!--Filed Baru-->
  <fieldset>
    <div class="form-group">
      <label class="control-label">General Spec</label>
      <%= f.text_area :general_spec, class: "form-control", rows: 8, required: true %>
    </div>
  </fieldset>

    <%= f.hidden_field :document, class: "form-control", rows: 8, value: "Jargas-Pipeline" %>
  
  <fieldset>
    <div class="form-group">
      <label class="control-label">Note</label>
      <%= f.text_area :note, class: "form-control", rows: 8 %>
    </div>
  </fieldset>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default" type="submit">
          <i class="fa fa-eye"></i>
          Validate
        </button>
      </div>
    </div>
  </div>

<% end %>
