<div class="header-title3">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
            <%= link_to root_path, style: "text-decoration: none;" do %>
			    <p class="id">Home
            <% end %>
                /Sub Menu Jargas</p>
		</div>
	</nav>
</div>
    <div class="bg-home" style="background: linear-gradient(90deg, rgba(0,72,160,1) 0%, rgba(94,150,165,1) 54%, rgba(150,183,188,1) 100%);">

            
                <div class="content456">
                        <%= link_to index_jargas_instruments_jargas_instrument_path(43), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:gas" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Instrument</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_jargas_pipline_jargas_pipeline_path(43), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:gas" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Pipeline</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(1) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_jargas_jasakonstruksi_jargas_jasakonstruksi_path(43), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:gas" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Jasa Konstruksi</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(5) %></p>
                            </div>
                        <% end %>
                </div>

    </div>