<div class="header-title3">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
            <%= link_to root_path, style: "text-decoration: none;" do %>
			    <p class="id">Home
            <% end %>
                / Sub Menu Pipeline</p>
		</div>
	</nav>
</div>
    <div class="bg-home" style="background: linear-gradient(90deg, rgba(0,72,160,1) 0%, rgba(94,150,165,1) 54%, rgba(150,183,188,1) 100%);">

            
                <div class="content456">
                        <%= link_to index_pipeline_linepipe_pipeline_linepipe_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Linepipe</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_pipeline_insulation_pipeline_insulation_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">

                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Insulation Joint</p>
                                <p class="text456"><%= @count %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_pipeline_barred_pipeline_barred_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">

                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Barred Tee</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(5) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_pipeline_valve_pipeline_valf_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">

                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Valve</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(5) %></p>

                            </div>
                        <% end %>
                </div>
                <div class="content456">
                        <%= link_to index_pipeline_hot_pipeline_hot_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Hot Induction Bend</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_pipeline_flange_pipeline_flange_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Anchor Flange</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_pipeline_fjc_pipeline_fjc_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">FJC</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_pipeline_spacels_pipeline_spacel_path(1), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Spacel & End Seal</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>
                            </div>
                        <% end %>
                        
                        
                        

                </div>

    </div>