<div class="header-title3">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
            <%= link_to root_path, style: "text-decoration: none;" do %>
			    <p class="id">Home
            <% end %>
                /Sub Menu Piping</p>
		</div>
	</nav>
</div>
    <div class="bg-home" style="background: linear-gradient(90deg, rgba(0,72,160,1) 0%, rgba(94,150,165,1) 54%, rgba(150,183,188,1) 100%);">

            
                <div class="content456">
                        <%= link_to index_pip_pipingpipe_path(4), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Pipe</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_fit_pipingfiting_path(4), style: "text-decoration: none;" do %>
                            <div class="card456">

                                <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Fiting</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_gasket_pipinggasket_path(4), style: "text-decoration: none;" do %>
                            <div class="card456">

                                <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Gasket</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_flanges_piping_flange_path(4), style: "text-decoration: none;" do %>
                            <div class="card456">

                                <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Flange</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                </div>
                <div class="content456">
                        <%= link_to index_bolts_pipingbolt_path(4), style: "text-decoration: none;" do %>     
                            <!-- end card -->
                            <div class="card456">
                                    <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                    <p class="title456">Bolt And Nut</p>
                                    <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>
                            </div>
                            <!-- end card -->
                        <% end %>
                        <%= link_to index_valves_pipingvalf_path(4), style: "text-decoration: none;" do %>   
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Valves</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                            <!-- end card -->
                        <% end %>
                        <%= link_to index_spitems_pipingspitem_path(4), style: "text-decoration: none;" do %>  
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
                                <p class="title456">SP Item</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                            <!-- end card -->
                        <% end %>

                </div>

    </div>