<div class="header-title3">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
            <%= link_to root_path, style: "text-decoration: none;" do %>
			    <p class="id">Home
            <% end %>
                / Sub Menu Instrument</p>
		</div>
	</nav>
</div>
    <div class="bg-home" style="background: linear-gradient(90deg, rgba(0,72,160,1) 0%, rgba(94,150,165,1) 54%, rgba(150,183,188,1) 100%);">

            
                <div class="content456">
                        <%= link_to index_instrumen_field_instrument_field_path(5), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Field Instrument</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_instrumen_valve_instrument_valf_path(5), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Instrument Valve</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(1) %></p>

                            </div>
                        <% end %>
                        <!-- end card -->
                        <!-- card -->
                        <%= link_to index_instrumen_fire_instrument_fire_path(5), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Fire And Gas</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(5) %></p>

                            </div>
                        <% end %>
                </div>
                <div class="content456">
                        <%= link_to index_instrumen_metering_instrument_matering_path(5), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Matering System</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_instrumen_icss_instrument_icsss_path(5), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
                                <p class="title456">ICS</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                        <%= link_to index_instrumen_miscellaneous_instrument_miscellaneouss_path(5), style: "text-decoration: none;" do %>
                            <div class="card456">
                                <div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
                                <p class="title456">Miscellaneous</p>
                                <p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>

                            </div>
                        <% end %>
                </div>

    </div>