  <style>
  .details {
    background: #f5f5f5;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
  }
  </style>
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Item Detail</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div id="content">
    <div class="page-header">
    </div>
    <div class="page-header">
      <%= link_to :back, style: "float: right;", class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
        <h1>Detail <%= @items.first.product_name.to_s %></h1>
    </div>
    <div class="page-header">
    </div>
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <!--<h3><%= @items.first.product_name.to_s %></h3>
          <h5>Type : <span style='color: blue;'><%= @items.first.name_type.to_s %></span></h5>
          <h5>Product by :<span style='color: blue;'><%= @items.first.namevendors.to_s %> </span>
          </h5>
          -->

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="font-size: medium;">
              <!--
              <li class="nav-item col-md-3" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General Description</a>
              </li>
              -->
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specifications</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Vendor's
                  Price</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Price
                  History</a>
              </li>
              <!--
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Note</a>
              </li>
              -->
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#kelas" role="tab" aria-controls="notes" aria-selected="false">Other</a>
              </li>
            </ul>
        <br>
        
            <!-- Tab panes -->
            <div class="tab-content" style="font-size: medium;">
              <!--
              <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p><%= @items.first.general_spec.to_s %></p>
              </div>
              -->
              <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                  <style>
                    #structureSpecifications {
                      font-size: medium;
                      font-style: bold;
                    }
                  </style>
                  
                  <div class="col-md-6">
                    <table class="table table-bordered table-striped table-hover">
                      <tr>
                        <td id="structureSpecifications">Discipline</td>
                        <td>:</td>
                        <td><%= @items.first.namedisiplines.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Type</td>
                        <td>:</td>
                        <td><%= @items.first.name_type.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Size</td>
                        <td>:</td>
                        <td><%= @items.first.size.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Schedule</td>
                        <td>:</td>
                        <td><%= @items.first.schedule.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">COO</td>
                        <td>:</td>
                        <td><%= @vendorPrice.first.country_name.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Currency</td>
                        <td>:</td>
                        <td><%= @vendorPrice.first.current_name.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Dimensions</td>
                        <td>:</td>
                        <td><%= @items.first.dimension.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Others</td>
                        <td>:</td>
                        <td><%= @items.first.others.to_s %></td>
                      </tr>
                    </table>
                    <%= link_to new2_brochures_path(@items.first.iditems.to_i), class: 'btn btn-primary', remote: true do %>
                      <span class="glyphicon glyphicon-plus"></span>
                      Tambah Brochure
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-bordered table-striped table-hover">
                      <tr>
                        <td id="structureSpecifications">Produk</td>
                        <td>:</td>
                        <td><%= @items.first.product_name.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Brand</td>
                        <td>:</td>
                        <td><%= @items.first.name_brand.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Class</td>
                        <td>:</td>
                        <td><%= @items.first.class_item.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Unit</td>
                        <td>:</td>
                        <% if @itemss.first.present? %>
                        <td><%= @itemss.first.unit_name.to_s %></td>
                        <% end %>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Vendor</td>
                        <td>:</td>
                        <td><%= @items.first.namevendors.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Scope of Supply</td>
                        <td>:</td>
                        <td><%= @items.first.scope_of_supply.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Date</td>
                        <td>:</td>
                        <td><%= @items.first.date2.to_s %></td>
                      </tr>
                      <tr>
                        <td id="structureSpecifications">Brochure</td>
                        <td>:</td>
                        <td>
                          <%
                            @getBrochure = Brochure.where(item_id: @items.first.iditems.to_i).select('*')
                            @getBrochure.each do |f|
                          %>
                            <a href="<%= downloadBrochure_brochures_path(f.id) %>"><%= f.brochure_title %></a>
                          <% end %>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                <div class="header">
                  <%= link_to new2_price_items_path(@items.first.iditems.to_i), class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                    New Price item
                  <% end %>
                  <h1>Listing Price Items</h1>
                </div>

                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
                  <!-- widget options:
                  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                  data-widget-colorbutton="false"
                  data-widget-editbutton="false"
                  data-widget-togglebutton="false"
                  data-widget-deletebutton="false"
                  data-widget-fullscreenbutton="false"
                  data-widget-custombutton="false"
                  data-widget-collapsed="true"
                  data-widget-sortable="false"

                  -->
                  <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2><%= @items.first.product_name.to_s %></h2>

                  </header>

                  <!-- widget div-->
                  <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                      <!-- This area used as dropdown edit box -->

                    </div>
                    <div class="widget-body no-padding">
                      <div class="table-responsive">
                        <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%">
                          <thead>
                          <tr>
                            <th>Vendor</th>
                            <th>Price</th>
                            <th>Incoterm</th>
                            <th>Date</th>
                            <th>Vat</th>
                            <th>Note</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                          </thead>

                          <tbody>
                          <%= content_tag_for(:tr, @vendorPrice) do |price_item| %>
                            <td>
                              <%= link_to detail_modalbox_vendors_path(price_item.vendor_id), remote: true do %>
                                <%= price_item.namevendors %>
                              <% end %>
                            </td>
                            <td><%= number_to_currency(price_item.price, :unit => "#{price_item.current_name} ") %></td>
                            <td><%= price_item.incoterm %></td>
                            <td><%= price_item.date %></td>
                            <td><%= price_item.vat %></td>
                            <td><%= price_item.note %></td>
                            <td><%= link_to '', price_item_path(price_item.idpriceitems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
                            <td><%= link_to '', edit_price_item_path(price_item.idpriceitems), class: 'fa fa-pencil btn btn-sm btn-warning', title: "Edit" %></td>
                            <td><%= link_to '', price_item_path(price_item.idpriceitems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="header">
                  <%= link_to new2_price_items_path(@items.first.iditems.to_i), class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                    New Price item
                  <% end %>
                  <h1>Listing Price Items</h1>
                </div>

                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
                  <!-- widget options:
                  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                  data-widget-colorbutton="false"
                  data-widget-editbutton="false"
                  data-widget-togglebutton="false"
                  data-widget-deletebutton="false"
                  data-widget-fullscreenbutton="false"
                  data-widget-custombutton="false"
                  data-widget-collapsed="true"
                  data-widget-sortable="false"

                  -->
                  <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2><%= @items.first.product_name.to_s %></h2>

                  </header>

                  <!-- widget div-->
                  <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                      <!-- This area used as dropdown edit box -->

                    </div>
                    <div class="widget-body no-padding">
                      <div class="table-responsive">
                        <table id="datatable_col_reorder1" class="table table-striped table-bordered table-hover" width="100%">
                          <thead>
                          <tr>
                            <th>Vendor</th>
                            <th>Price</th>
                            <th>Incoterm</th>
                            <th>Date</th>
                            <th>Vat</th>
                            <th>Note</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                          </thead>

                          <tbody>
                          <%= content_tag_for(:tr, @priceItems) do |price_item| %>
                            <td>
                              <%= link_to detail_modalbox_vendors_path(price_item.vendor_id), remote: true do %>
                                <%= price_item.namevendors %>
                              <% end %>
                            </td>
                            <td><%= number_to_currency(price_item.price, :unit => "#{price_item.current_name} ") %></td>
                            <td><%= price_item.incoterm %></td>
                            <td><%= price_item.date %></td>
                            <td><%= price_item.vat %></td>
                            <td><%= price_item.note %></td>
                            <td><%= link_to '', price_item_path(price_item.idpriceitems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
                            <td><%= link_to '', edit_price_item_path(price_item.idpriceitems), class: 'fa fa-pencil btn btn-sm btn-warning', title: "Edit"  %></td>
                            <td><%= link_to '', price_item_path(price_item.idpriceitems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                <p><%= @items.first.note.to_s %></p>
              </div>
              
              <div class="tab-pane" id="kelas" role="tabpanel" aria-labelledby="notes-tab">
                <div class="col-md-13">
                    <table id="basic2" class="table table-striped table-bordered table-hover dt-responsive nowrap display" width="100%" tabindex="1">
                      <thead>
                      <tr>
                          <th>Item</th>
                          <th>:</th>
                          <th>Deskripsi</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Schedule</td>
                          <td>:</td>
                          <td><%= @items.first.schedule.to_s %></td>
                        </tr>
                        <tr>
                          <td>Degree</td>
                          <td>:</td>
                          <td><%= @items.first.degree.to_s %></td>
                        </tr>
                        <tr>
                          <td>Wall Thickness</td>
                          <td>:</td>
                          <td><%= @items.first.wall_thickness.to_s %></td>
                        </tr>
                        <tr>
                          <td>Remark</td>
                          <td>:</td>
                          <td><%= @items.first.remark.to_s %></td>
                        </tr>
                        <tr>
                          <td>Valve Specification</td>
                          <td>:</td>
                          <td><%= @items.first.valve_specification.to_s %></td>
                        </tr>
                        <tr>
                          <td>Actuator Specification</td>
                          <td>:</td>
                          <td><%= @items.first.actuator_specification.to_s %></td>
                        </tr>
                        <tr>
                          <td>Solenoid Specification</td>
                          <td>:</td>
                          <td><%= @items.first.solenoid_specification.to_s %></td>
                        </tr>
                        <tr>
                          <td>Limit Swict Specification</td>
                          <td>:</td>
                          <td><%= @items.first.limit_swict_specification.to_s %></td>
                        </tr>
                        <tr>
                          <td>Sensor</td>
                          <td>:</td>
                          <td><%= @items.first.sensor.to_s %></td>
                        </tr>
                        <tr>
                          <td>Housing Spec</td>
                          <td>:</td>
                          <td><%= @items.first.housing_spec.to_s %></td>
                        </tr>
                        <tr>
                          <td>Flowmeter Specification</td>
                          <td>:</td>
                          <td><%= @items.first.flowmeter_specification.to_s %></td>
                        </tr>
                        <tr>
                          <td>Transmitter</td>
                          <td>:</td>
                          <td><%= @items.first.transmitter.to_s %></td>
                        </tr>
                        <tr>
                          <td>Process Control System Spec_2</td>
                          <td>:</td>
                          <td><%= @items.first.process_control_system_spec_2.to_s %></td>
                        </tr>
                        <tr>
                          <td>Safety Instrumented System Spec</td>
                          <td>:</td>
                          <td><%= @items.first.safety_instrumented_system_spec.to_s %></td>
                        </tr>
                        <tr>
                          <td>Fire And Gas System Spec</td>
                          <td>:</td>
                          <td><%= @items.first.fire_and_gas_system_spec.to_s %></td>
                        </tr>
                        <tr>
                          <td>Remote</td>
                          <td>:</td>
                          <td><%= @items.first.remote.to_s %></td>
                        </tr>
                        <tr>
                          <td>Termina Unit Spec</td>
                          <td>:</td>
                          <td><%= @items.first.termina_unit_spec.to_s %></td>
                        </tr>
                        <tr>
                          <td>Design Code</td>
                          <td>:</td>
                          <td><%= @items.first.design_code.to_s %></td>
                        </tr>
                        <tr>
                          <td>Material FF Construction</td>
                          <td>:</td>
                          <td><%= @items.first.material_ff_construction.to_s %></td>
                        </tr>
                        <tr>
                          <td>Date</td>
                          <td>:</td>
                          <td><%= @items.first.date2.to_s %></td>
                        </tr>
                        <tr>
                          <td>SCH</td>
                          <td>:</td>
                          <td><%= @items.first.sch.to_s %></td>
                        </tr>
                      </tbody>
                      
                    </table>                  
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </dl>
    <%= render 'layouts/modal' %>
  </div>

<% content_for :scripts do %>
  <script type="text/javascript">
      $(document).ready(function () {



          /* // DOM Position key index //

           l - Length changing (dropdown)
           f - Filtering input (search)
           t - The Table! (datatable)
           i - Information (records)
           p - Pagination (paging)
           r - pRocessing
           < and > - div elements
           <"#id" and > - div with an id
           <"class" and > - div with a class
           <"#id.class" and > - div with an id and class

           Also see: http://legacy.datatables.net/usage/features
           */

          /* BASIC ;*/
          var responsiveHelper_dt_basic = undefined;
          var responsiveHelper_datatable_col_reorder = undefined;
          var responsiveHelper_datatable_col_reorder1 = undefined;

          var breakpointDefinition = {
              tablet: 1024,
              phone: 480
          };
          
          $('#dt_basic').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_dt_basic) {
                      responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_dt_basic.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_dt_basic.respond();
              }
          });
          $('#basic2').dataTable({
                "scrollY": "280px",
                "paging": false,
                "responsive": true,
                "tabindex": 1,
            });
            
          /* END BASIC */

          /* COLUMN SHOW - HIDE */
          $('#datatable_col_reorder').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_col_reorder) {
                      responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_col_reorder.respond();
              }
          });


          $('#datatable_col_reorder1').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_col_reorder1) {
                      responsiveHelper_datatable_col_reorder1 = new ResponsiveDatatablesHelper($('#datatable_col_reorder1'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_col_reorder1.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_col_reorder1.respond();
              }
          });

          /* END COLUMN SHOW - HIDE */

            

      });

  </script>
<% end %>