<div class="bg-home" style="background: linear-gradient(90deg, rgba(0,72,160,1) 0%, rgba(94,150,165,1) 54%, rgba(150,183,188,1) 100%);">

		
			<div class="content456">
					<div class="card456">
						<%= link_to dashboard_home_piping_path, style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="eos-icons:pipeline" width="55" height="55"></iconify-icon></div>
							<p class="title456">PIPING</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(4) %></p>
						<% end %>

					</div>
					
					<!-- end card -->
					<!-- card -->
					<div class="card456">
						<%= link_to dashboard_home_pipeline_path, style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="mdi:pipe" width="55" height="55"></iconify-icon></div>
							<p class="title456">PIPELINE</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(1) %></p>
						<% end %>

					</div>
					<!-- end card -->
					<!-- card -->
					<div class="card456">
						<%= link_to dashboard_home_instrument_path, style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="mdi:pipe-valve" width="55" height="55"></iconify-icon></div>
							<p class="title456">INSTRUMENT</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(5) %></p>
						<% end %>
					</div>
					<!-- end card -->
					<div class="card456">
						<%= link_to index_elektrikal_elektrikal_path(22), style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="material-symbols:electrical-services" width="55" height="55"></iconify-icon></div>
							<p class="title456">ELECTRICAL</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(22) %></p>
						<% end %>

					</div>
					<!-- end card -->
					
				</div>
				<div class="content456">
					<div class="card456">
						<%= link_to index_mechanical_mechanical_path(3), style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="ic:baseline-miscellaneous-services" width="55" height="55"></iconify-icon></div>
							<p class="title456">MECHANICAL</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(3) %></p>
						<% end %>

					</div>
					<!-- end card -->
					<!-- card -->
					<div class="card456">
						<%= link_to dashboard_home_civil_path, style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="ri:building-2-fill" width="55" height="55"></iconify-icon></div>
							<p class="title456">CIVIL</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(21) %></p>
						<% end %>

					</div>
					<!-- end card -->
					<!-- card -->
					
					<div class="card456">
						<%= link_to index_jasakonstruksi_rokankonstruksi_jasakonstruksi_rokankonstruksi_path(42), style: "text-decoration: none;" do %>
							<!--
							<div class="icon456"><iconify-icon icon="mdi:construction" width="55" height="55"></iconify-icon></div>
							-->
							<div class="icon456"><%= image_tag 'imgnew/konstruksi.svg', alt: 'SmartAdmin' %> </div>
							<p class="title456">CONSTRUCTION</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(42) %></p>
						<% end %>

					</div>
					
					<!-- end card -->
					<div class="card456">
						<%= link_to dashboard_home_jargas_path, style: "text-decoration: none;" do %>
							<div class="icon456"><iconify-icon icon="mdi:gas" width="55" height="55"></iconify-icon></div>
							<p class="title456">JARGAS</p>
							<p class="text456"><%= getTotalItemsBaseDisipline(43) %></p>
						<% end %>

					</div>
					<!-- end card -->
					
			</div>

</div>