<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Search</p>
		</div>
	</nav>
</div>
<section class="home-section2">
				<div class="card">
  					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<select id="column2-filter" class="custom-select">
										<option value="">Product ALL</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<select id="column3-filter" class="custom-select">
										<option value="">Type All</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<select id="column4-filter" class="custom-select">
										<option value="">Brand All</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<select id="column5-filter" class="custom-select">
										<option value="">Size All</option>
									</select>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<select id="column8-filter" class="custom-select">
										<option value="">Month All</option>
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
							</div>
							<div class="col">
									<div class="form-group">
										<%= select_tag :tahun, options_for_select((2018..Time.now.year).to_a.reverse), prompt: "Years All", id: "column9-filter", class: "custom-select" %>
									</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
	<div class="button-card">
		<section class="home-section2"> 
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
							<thead>
								<tr>
                                    <th>Disipline</th>
                                    <th>Product</th>
                                    <th>Type</th>
                                    <th>Brand</th>
                                    <th>Size</th>
                                    <th>General spec</th>
                                    <th>Price</th>
                                    <th>Vendor</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
							</thead>
							<tbody>
								<%= content_tag_for(:tr, @items) do |item| %>
                                    <td><%= item.namedisiplines %></td>
                                    <td><%= item.product_name %></td>
                                    <td><%= item.name_type %></td>
                                    <td><%= item.name_brand %></td>
                                    <td><%= item.size %></td>
                                    <td><%= item.general_spec %></td>
                                    <% @getLastPriceItems = PriceItem.left_outer_joins(:currency).where(item_id: item.iditems).select('*').order('price_items.date DESC').limit(1) %>
                                    <td><%= number_to_currency(@getLastPriceItems.first.price.to_s, :unit => "(#{@getLastPriceItems.first.current_name.to_s}) ") %></td>
                                    <td><%= item.namevendors %></td>
                                    <td><%= link_to '', items_show_dashboard_index_path(item.iditems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
                                    <td><%= link_to '', edit_item_path(item.iditems), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                    <td><%= link_to '', item_path(item.iditems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                                <% end %>
								
								
							</tbody>
							<tfoot>
								<tr>
                                    <th>Disipline</th>
                                    <th>Product</th>
                                    <th>Type</th>
                                    <th>Brand</th>
                                    <th>Size</th>
                                    <th>General spec</th>
                                    <th>Price</th>
                                    <th>Vendor</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		
		</section>
	</div>


<% content_for :scripts do %>


    <script>

		$(document).ready(function() {
		    
		    // DataTables initialisation
		    var table = $('#example').DataTable({
				columnDefs: [{
					targets: [8], // index kolom tanggal
					render: function(data, type, row) {
						return moment(data).format('DD-MM-YYYY');
					}
				}],
		    	initComplete: function() {
			      // Add filter for column 2
			      this.api().columns(1).every(function() {
			      	var column = this;
			      	var select = $('#column2-filter');
			      	select.on('change', function() {
			      		var val = $.fn.dataTable.util.escapeRegex(
			      			$(this).val()
			      			);
			      		column.search(val ? '^' + val + '$' : '', true, false).draw();
			      	});
			      	column.data().unique().sort().each(function(d, j) {
			      		select.append('<option value="' + d + '">' + d + '</option>');
			      	});
			      });
			      this.api().columns(2).every(function() {
			      	var column = this;
			      	var select = $('#column3-filter');
			      	select.on('change', function() {
			      		var val = $.fn.dataTable.util.escapeRegex(
			      			$(this).val()
			      			);
			      		column.search(val ? '^' + val + '$' : '', true, false).draw();
			      	});
			      	column.data().unique().sort().each(function(d, j) {
			      		select.append('<option value="' + d + '">' + d + '</option>');
			      	});
			      });
				  this.api().columns(3).every(function() {
			      	var column = this;
			      	var select = $('#column4-filter');
			      	select.on('change', function() {
			      		var val = $.fn.dataTable.util.escapeRegex(
			      			$(this).val()
			      			);
			      		column.search(val ? '^' + val + '$' : '', true, false).draw();
			      	});
			      	column.data().unique().sort().each(function(d, j) {
			      		select.append('<option value="' + d + '">' + d + '</option>');
			      	});
			      });
			      this.api().columns(4).every(function() {
			      	var column = this;
			      	var select = $('#column5-filter');
			      	select.on('change', function() {
			      		var val = $.fn.dataTable.util.escapeRegex(
			      			$(this).val()
			      			);
			      		column.search(val ? '^' + val + '$' : '', true, false).draw();
			      	});
			      	column.data().unique().sort().each(function(d, j) {
			      		select.append('<option value="' + d + '">' + d + '</option>');
			      	});
			      });
				  
			  }
			  
			});
			  // Buat select filter untuk kolom 8
				$('#column8-filter').on('change', function() {
					var selectedMonth = $(this).val();
					table.column(8).search(selectedMonth, true, false).draw();
				});

				// Buat select filter untuk kolom 9
				$('#column9-filter').on('change', function() {
					var selectedYear = $(this).val();
					table.column(8).search(selectedYear, true, false).draw();
				});

				// Buat custom filter untuk kolom 9
				$.fn.dataTable.ext.search.push(
					function(settings, data, dataIndex) {
					var selectedMonth = $('#column8-filter').val();
					var selectedYear = $('#column9-filter').val();
					var date = data[8].split('-');
					if (selectedMonth == '' && selectedYear == '') {
						return true;
					}
					else if (selectedMonth == '' && date[2] == selectedYear) {
						return true;
					}
					else if (selectedYear == '' && date[1] == selectedMonth) {
						return true;
					}
					else if (date[1] == selectedMonth && date[2] == selectedYear) {
						return true;
					}
					return false;
					}
				);

		});

	</script>

<% end %>

