<div class="item-title2">
    <div class="card">
        <p class="id">Form</p>
    </div>
</div>
<%= form_for(@inflasis, html: {role: "form"}) do |f| %>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Tahun Inflasi</label>
                        <%= f.text_field :bulan, class: "form-control", placeholder: 'Tahun Inflasi' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Inflasi(%)</label>
                        <%= f.text_field :inflasi, class: "form-control", placeholder: 'Inflasi(%)', onkeypress: "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 46", maxlength: 4 %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Keterangan</label>
                        <%= f.text_field :keterangan, class: "form-control", placeholder: 'Keterangan Inflasi' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <%= link_to 'Cancel', inflasis_index_path, class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% end %>