<div class="header-title">
  <nav class="navba navbar-light bg-white">
    <div class="item-title">
      <p class="id">Inflasi</p>
    </div>
  </nav>
</div>
<section class="home-section2">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= link_to new_inflasi_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus">
          </span>
          New Inflasi
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="button-card">
  <section class="home-section2">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="example" class="table table-striped table-bordered table-hover table-borderless"
            style="width:100%">
            <thead>
              <tr>
                <th>Bulan Inflasi</th>
                <th>Inflasi</th>
                <th>Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <% @inflasis.each do |inflasis| %>
              <tr>
                <td><%= inflasis.bulan %></td>
                <td><%= inflasis.inflasi %></td>
                <td><%= inflasis.keterangan %></td>
              </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th>Bulan Inflasi</th>
                <th>Inflasi</th>
                <th>Keterangan</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>


<% content_for :scripts do %>
<script>
  var table = $('#example').DataTable();
</script>

<% end %>
