<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">User Aktivitie</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
						<thead>
                                <tr>
                                    <th>No</th>
                                    <th>User name</th>
                                    <th>Role</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Controller</th>
                                    <th>Action</th>
                                    <th>Browser</th>
                                    <th>Ip address</th>
                                    <th></th>
                                </tr>
						</thead>
						<tbody>			
							<% if @log_activities1.present? %>
                                <% @log_activities1.each_with_index do |item, index| %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td><%= item.user_name.nil? ? "-" : item.user_name %></td>
                                        <td><%= item.role.nil? ? "-" : item.role %></td>
                                        <td><%= item.date.nil? ? "-" : item.date %></td>
                                        <td><%= item.description.nil? ? "-" : item.description %></td>
                                        <td><%= item.controller.nil? ? "-" : item.controller %></td>
                                        <td><%= item.action.nil? ? "-" : item.action %></td>
                                        <td><%= item.browser.nil? ? "-" : item.browser %></td>
                                        <td><%= item.ip_address.nil? ? "-" : item.ip_address %></td>
                                        <td><%= link_to '', item, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                                    </tr>
                                <% end %>
                            <% end %>
						</tbody>
						<tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>User name</th>
                                    <th>Role</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Controller</th>
                                    <th>Action</th>
                                    <th>Browser</th>
                                    <th>Ip address</th>
                                    <th></th>
                                </tr>
						</tfoot>
					</table>
                </div>
            </div>
        </div>
    <section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
    
  </script>

<% end %>
