<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Activitie</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
    <div class="item-title2">
    </div>
		<div class="card">
			<div class="card-header">
                Detail User Activitie
                <%= link_to user_activities_path, style: "float: right;", class: 'btn btn-success' do %>
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Back
                <% end %>

            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
						<thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Detail</th>
                                </tr>
						</thead>
						<tbody>			
                                <tr>
                                    <td>User name:</td>
                                    <td><%= @user_activity.user_name %></td>
                                </tr>
                                <tr>
                                    <td>Role:</td>
                                    <td><%= @user_activity.role %></td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td><%= @user_activity.date.strftime('%d %b %Y %H:%I:%S') %></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td>
                                    <% @getDescription = UserActivity.where('user_name = ? and date = ?', @user_activity.user_name, @user_activity.date).select('*')
                                        @count = 0
                                        @getDescription.each do |f|
                                        @getCount = @count += 1
                                    %>
                                        <%= @getCount.to_s + "." + f.description %> <br><br>
                                    <% end %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Controller:</td>
                                    <td><%= @user_activity.controller %></td>
                                </tr>
                                <tr>
                                    <td>Action:</td>
                                    <td><%= @user_activity.action %></td>
                                </tr>
                                <tr>
                                    <td>Browser:</td>
                                    <td><%= @user_activity.browser %></td>
                                </tr>
                                <tr>
                                    <td>Ip atdress:</td>
                                    <td><%= @user_activity.ip_address %></td>
                                </tr>
						</tbody>

				    </table>
                </blockquote>
            </div>

        </div>
    </section>
</div>

