<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li>
      <li>Tables</li>
      <li>Normal Tables</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
<div id="content">
  <div class="page-header">
    <%= link_to user_activities_path, style: "float: right;", class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to edit_user_activity_path(@user_activity), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <h1>Show User Activity</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Detail Activity
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
              <tbody>
              <tr>
                <td>User name:</td>
                <td><%= @user_activity.user_name %></td>
              </tr>
              <tr>
                <td>Role:</td>
                <td><%= @user_activity.role %></td>
              </tr>
              <tr>
                <td>Date:</td>
                <td><%= @user_activity.date.strftime('%d %b %Y %H:%I:%S') %></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td>
                  <% @getDescription = UserActivity.where('user_name = ? and date = ?', @user_activity.user_name, @user_activity.date).select('*')
                     @count = 0
                     @getDescription.each do |f|
                      @getCount = @count += 1
                  %>
                    <%= @getCount.to_s + "." + f.description %> <br><br>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Controller:</td>
                <td><%= @user_activity.controller %></td>
              </tr>
              <tr>
                <td>Action:</td>
                <td><%= @user_activity.action %></td>
              </tr>
              <tr>
                <td>Browser:</td>
                <td><%= @user_activity.browser %></td>
              </tr>
              <tr>
                <td>Ip atdress:</td>
                <td><%= @user_activity.ip_address %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>