<div class="item-title2">
    <div class="card">
	   	<p class="id">Form</p>
    </div>
</div>
<%= form_for @price_letter, html: {class: 'form-horizontal'} do |f| %>
    <% if @price_letter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@price_letter.errors.count, "error") %> prohibited this price_letter from being saved:</h2>

          <ul>
            <% @price_letter.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.label :price_letter_title %>
                        <%= f.text_field :price_letter_title, class: 'form-control', placeholder: 'Price Letter Title' %>
                    </div>
                    <div class="col">
                        <%= f.label :price_letter_path %>
                        <!--
                            <%= f.file_field :price_letter_path, class: "form-control", accept: 'file/*', onchange: "validateFiles(this);",
                             data: {max_file_size: 100.megabytes}%>
                        -->
                        <div class="custom-file">
                            <%= f.file_field :price_letter_path, class: "custom-file-input", accept: 'file/*', onchange: "validateFiles(this);",
                             data: {max_file_size: 100.megabytes}%>
                             <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <%= link_to 'Cancel', price_letters_path, class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
          function validateFiles(inputFile) {
              var maxExceededMessage = "This file exceeds the maximum allowed file size (100 MB)";
              var extErrorMessage = "Only doc file with extension: .pdf or .docs is allowed";
              var allowedExtension = ["pdf","docs"];

              var extName;
              var maxFileSize = $(inputFile).data('max-file-size');
              var sizeExceeded = false;
              var extError = false;

              $.each(inputFile.files, function () {
                  if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {
                      sizeExceeded = true;
                  }
                  ;
                  extName = this.name.split('.').pop();
                  if ($.inArray(extName, allowedExtension) == -1) {
                      extError = true;
                  }
                  ;
              });
              if (sizeExceeded) {
                  window.alert(maxExceededMessage);
                  $(inputFile).val('');
              }
              ;

              if (extError) {
                  window.alert(extErrorMessage);
                  $(inputFile).val('');
              }
              ;
          }
      </script>
<% end %>