<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">
                Edit Price Letter
            </p>
		</div>
	</nav>
</div>
    
<div class="button-card">
	<section class="home-section2">
      <%= render 'form', price_letter: @price_letter %>
        <%= link_to @price_letter, class: 'btn btn-success', style: "float: right;" do %>
            Show
        <% end %>

  </section>
</div>