<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Price Letter</p>
		</div>
	</nav>
</div>
<section class="home-section2">
    <div class="card">
        <div class="card-body">
			<div class="row">
				<div class="col">
                    <%= link_to new_price_letter_path, class: 'btn btn-primary' do %>
                        <span class="glyphicon glyphicon-plus">
                        </span>
                            New Price Letter
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
                            <thead>
                                    <tr>
                                        <th>Price letter title</th>
                                        <th>Price letter path</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>			
                                <% @price_letters.each do |price_letter| %>
                                    <tr>
                                    <td><%= price_letter.price_letter_title %></td>
                                    <td><%= price_letter.price_letter_path %></td>
                                    <td><%= link_to '', price_letter, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                                    <td><%= link_to '', edit_price_letter_path(price_letter), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                    <td><%= link_to '', price_letter, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                                    <td><%= link_to '', downloadLetter_price_letters_path(price_letter), class: 'fa fa-download btn btn-sm btn-danger', title: "Download" %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                            <tfoot>
                                    <tr>
                                        <th>Price letter title</th>
                                        <th>Price letter path</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
