<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Price Letter</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
    <div class="item-title2">
    </div>
		<div class="card">
			<div class="card-header">
                Detail Price Letter
                <%= link_to edit_price_letter_path(@price_letter), class: 'btn btn-primary', style:'float:right' do %>
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                        Edit
                <% end %>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Price letter title:
                    </p>
                    <footer class="blockquote-footer">
                        <div class="btn btn-outline-primary"> 
                            <%= @price_letter.price_letter_title %>
                        </div>
                    </footer>
                </blockquote>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Price letter path:
                    </p>
                    <footer class="blockquote-footer">
                        <div class="btn btn-outline-primary"> 
                            <%= @price_letter.price_letter_path %>
                        </div>
                    </footer>
                </blockquote>
            </div>
            <%= link_to price_letters_path, style: "float: right;", class: 'btn btn-secondary' do %>
                <span class="glyphicon glyphicon-list-alt">
                </span>
                    Back
            <% end %>
        </div>
    </section>
</div>