<div class="header-title">
  <nav class="navba navbar-light bg-white">
    <div class="item-title">
      <p class="id">Price Analysis</p>
    </div>
  </nav>
</div>
<section class="home-section2">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Filter</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false">Harga Satuan</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">Analys Grafik</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <select id="disciplineSelect" class="custom-select" onchange="showProductOptions()">
                      <option value="all" selected>----Pilih Disipline----</option>
                      <option value="4">Piping</option>
                      <option value="1">Pipeline</option>
                      <option value="5">Instrument</option>
                      <option value="22">Electrical</option>
                      <option value="3">Mechanical</option>
                      <option value="21">Civil</option>
                      <option value="42">Construction</option>
                      <option value="43">Jargas</option>
                    </select>
                  </div>
                  <div class="col">
                    <div id="productOptions" style="display:none">
                      <select class="custom-select">
                        <!-- Sengaja buat gini untuk menghemat waktu -->
                        <option id="piping" selected>----Pilih product----</option>
                        <option id="pipeline" selected>----Pilih product----</option>
                        <option id="instrument" selected>----Pilih product----</option>
                        <option id="electrical" selected>----Pilih product----</option>
                        <option id="mechanical" selected>----Pilih product----</option>
                        <option id="civil" selected>----Pilih product----</option>
                        <option id="jargas" selected>----Pilih product----</option>
                        <option id="construction" selected>----Pilih product----</option>
                        <!-- Piping -->
                        <option value="Pipe" id="piping">Pipe</option>
                        <option value="Fiting" id="piping">Fiting</option>
                        <option value="Gasket" id="piping">Gasket</option>
                        <option value="flange" id="piping">Flange</option>
                        <option value="Bolt And Nut" id="piping">Bolt And Nut</option>
                        <option value="Valve" id="piping">Valves</option>
                        <option value="SP Item" id="piping">SP Item</option>
                        <!-- Pipeline  -->
                        <option value="Linepipe" id="pipeline">Linepipe</option>
                        <option value="Insulation Joint" id="pipeline">Insulation Joint</option>
                        <option value="Barred Tee" id="pipeline">Barred Tee</option>
                        <option value="Valve" id="pipeline">Valve</option>
                        <option value="Hot Induction Bend" id="pipeline">Hot Induction Bend</option>
                        <option value="Anchor Flange" id="pipeline">Anchor Flange</option>
                        <option value="FJC" id="pipeline">FJC</option>
                        <option value="Spacel & END Seal" id="pipeline">Spacel & END Seal</option>
                        <!-- Instrument  -->
                        <option value="Field Instrument" id="instrument">Field Instrument</option>
                        <option value="Instrument Valve" id="instrument">Instrument Valve</option>
                        <option value="Fire And Gas" id="instrument">Fire And Gas</option>
                        <option value="Matering System" id="instrument">Matering System</option>
                        <option value="ICSS" id="instrument">ICSS</option>
                        <option value="Miscellaneous" id="instrument">Miscellaneous</option>
                        <!-- Electrical  -->
                        <option value="Elektrikal" id="electrical">Electrical</option>
                        <!-- Mechanical  -->
                        <option value="Mechanical" id="mechanical">Mechanical</option>
                        <!-- Civil  -->
                        <option value="Civil Material" id="civil">Civil Material</option>
                        <option value="Civil Jasa" id="civil">Civil Jasa</option>
                        <!-- Construction  -->
                        <option value="construction" id="construction">Construction</option>
                        <!-- Jargas  -->
                        <option value="Jargas-Instrument" id="jargas">Jargas - Instrument</option>
                        <option value="Jargas-Pipeline" id="jargas">Jargas - Pipeline</option>
                        <option value="Jasa Konstruksi" id="jargas">Jargas - Jasa Konstruksi</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <%= form_for @item, remote: true do |f| %>
              <div class="form-group">
                <div class="row">
                  <div class="col" id="type-select" style="display:none">
                    <%= f.collection_select :type_id, Type.order(:name_type), :id, :name_type, {prompt: "Select a Type"}, {:class => 'custom-select'} %>
                  </div>
                  <div class="col" id="connection-select" style="display:none">
                    <%= f.collection_select :process_connection_type, Item.pluck(:process_connection_type).uniq.compact, :itself, :titleize, { prompt: "Select a Connection Type" }, { class: 'custom-select' } %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col" id="size-select" style="display:none">
                    <%= f.collection_select :size, Item.pluck(:size).uniq.compact, :itself, :titleize, { prompt: "Select a size" }, { class: 'custom-select' } %>

                  </div>
                  <div class="col" id="class-select" style="display:none">
                    <%= f.collection_select :class_item, Item.pluck(:class_item).uniq.compact, :itself, :titleize, { prompt: "Select a class" }, { class: 'custom-select' } %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col" id="rating-select" style="display:none">
                    <%= f.collection_select :class_item, Item.pluck(:class_item).uniq.compact, :itself, :titleize, { prompt: "Select a Rating" }, { class: 'custom-select' } %>
                  </div>
                  <div class="col" id="schedule-select" style="display:none">
                    <%= f.collection_select :schedule, Item.pluck(:schedule).uniq.compact, :itself, :titleize, { prompt: "Select a schedule" }, { class: 'custom-select' } %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col" id="thickness-select" style="display:none">
                    <%= f.collection_select :wall_thickness, Item.pluck(:wall_thickness).uniq.compact, :itself, :titleize, { prompt: "Select a Wall Thickness" }, { class: 'custom-select' } %>
                  </div>
                  <div class="col" id="design-select" style="display:none">
                    <%= f.collection_select :design_code, Item.pluck(:design_code).uniq.compact, :itself, :titleize, { prompt: "Select a design_code" }, { class: 'custom-select' } %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col" id="dimension-select" style="display:none">
                    <%= f.collection_select :dimension, Item.pluck(:dimension).uniq.compact, :itself, :titleize, { prompt: "Select a dimension" }, { class: 'custom-select' } %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="formGroupExampleInput2">Simpangan Baku Kriteria Limit</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" value="1.48" placeholder="Masukkan Simpangan Baku" required>
                  </div>
                </div>
              </div>

              <button type="button" id="construction-btn" class="btn btn-success">Analyzer</button>
              <button type="button" id="reset" class="btn btn-danger">Reset</button>
              <% end %>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <div id="price"></div>
              <p>Harga Satuan</p>
              <div id="item-info" style="display: none;">
                <h3>Informasi Item:</h3>
                <table>
                  <tbody>
                    <tr>
                      <td>Harga:</td>
                      <td id="item-price"></td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div id="items-table" style="display: none;">
                <h3>Daftar Item:</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Harga</th>
                      <th>Tanggal</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<% content_for :scripts do %>
<script>
  $(function () {
    $('button.btn-success').click(function () {
      var typeId;
      var size;
      var classItem;
      var dimension;
      var schedule;
      var wall_thickness;

      if (this.value = "construction"){
        typeId = $('#item_type_id').val();
        size = $('#item_size').val();
        classItem = $('#item_class_item').val()
        dimension = $('#item_dimension').val(); // new variable
      }
      else if (this.value = "Insulation Joint"){
          typeId = $('#item_type_id').val();
        size = $('#item_size').val();
        classItem = $('#item_class_item').val()
        dimension = $('#item_dimension').val(); // new variable
        schedule = $('#item_schedule').val(); // new variable
        wall_thickness = $('#item_wall_thickness').val(); // new variable
      }
      $.ajax({
        type: 'GET',
        url: '/price_analysis/get_price',
        data: {
          type_id: typeId,
          size: size,
          class_item: classItem,
          dimension: dimension, // new parameter
          schedule: schedule, // new parameter
          wall_thickness: wall_thickness // new parameter
        },
        success: function (data) {
          if (Array.isArray(data)) { // jika data adalah array
            var tableBody = $('#items-table tbody');
            tableBody.empty();
            data.forEach(function (item) {
              var itemDate = new Date(item.date);
              var itemYear = itemDate.getFullYear();
              var today = new Date();
              var currentYear = today.getFullYear();
              var yearRange = "";

              if (itemYear <= currentYear) {
                for (var i = itemYear; i <= currentYear; i++) {
                  yearRange += i + ", ";
                }
              } else {
                yearRange = itemYear;
              }

              var row = $('<tr>');
              row.append($('<td>').text(item.price));
              row.append($('<td>').text(yearRange));
              tableBody.append(row);
            });
            $('#item-info').hide();
            $('#items-table').show();
          } else { // jika data adalah objek tunggal
            $('#item-name').text(data.name);
            $('#item-price').text(data.price);
            var itemDate = new Date(data.date);
            var itemYear = itemDate.getFullYear();
            var today = new Date();
            var currentYear = today.getFullYear();
            var yearRange = "";

            if (itemYear <= currentYear) {
              for (var i = itemYear; i <= currentYear; i++) {
                yearRange += i + ", ";
              }
            } else {
              yearRange = itemYear;
            }

            $('#item-date').text(yearRange);
            $('#items-table').hide();
            $('#item-info').show();
          }

          console.log("sukses");
          console.log(data);
          alert('data sukses dianalisis. Silahkan lihat Harga dan Grafik.');
        },

        error: function (jqXHR, textStatus, errorThrown) {
          alert('Gagal menemukan item: ' + errorThrown);
        }
      });
    });
  });
</script>
<script>
  const disciplineSelect = document.getElementById("disciplineSelect");
  const productOptions = document.getElementById("productOptions");
  disciplineSelect.addEventListener("change", function () {
    const selectedDiscipline = disciplineSelect.value;
    productOptions.style.display = "none";
    if (selectedDiscipline === "4") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "piping") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "1") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "pipeline") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "5") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "instrument") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "22") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "electrical") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "3") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "mechanical") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "21") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "civil") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "42") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "construction") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
    if (selectedDiscipline === "43") {
      productOptions.style.display = "block";
      const productOptionsList = productOptions.querySelectorAll("option");
      for (let i = 0; i < productOptionsList.length; i++) {
        const option = productOptionsList[i];
        if (option.id === "jargas") {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      }
    }
  });
  const productSelect = document.querySelector('#productOptions select');
  const secondSelect = document.querySelector('#type-select');
  const connectionSelect = document.querySelector('#connection-select');
  const sizeSelect = document.querySelector('#size-select');
  const classSelect = document.querySelector('#class-select');
  const ratingSelect = document.querySelector('#rating-select');
  const scheduleSelect = document.querySelector('#schedule-select');
  const thicknessSelect = document.querySelector('#thickness-select');
  const designSelect = document.querySelector('#design-select');
  const dimensiaonSelect = document.querySelector('#dimension-select');
  productSelect.addEventListener('change', function () {
    //Piping
    if (this.value === 'Pipe') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Fiting') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'flange') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Gasket') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Bolt And Nut') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Valve') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'SP Item') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    }
    //Instrument
    else if (this.value === 'Field Instrument') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'block';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'block';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Instrument Valve') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'block';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'block';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Fire And Gas') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'none';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Matering System') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'block';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'block';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'ICSS') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'none';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    }
    //Konstruksi
    else if (this.value === 'construction') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'block';

    }
    //Elektrical
    else if (this.value === 'Elektrikal') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    }
    //Civil
    else if (this.value === 'Civil Material') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'block';
    } else if (this.value === 'Civil Jasa') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'block';
    }
    //Mechanical
    else if (this.value === 'Mechanical') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'block';
    }
    //Pipeline
    else if (this.value === 'Linepipe') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'block';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Insulation Joint') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'block';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'block';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Hot Induction Bend') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'block';
      thicknessSelect.style.display = 'block';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'FJC') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Spacel & END Seal') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Anchor Flange') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else if (this.value === 'Anchor Flange') {
      secondSelect.style.display = 'block';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'block';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    } else {
      secondSelect.style.display = 'none';
      connectionSelect.style.display = 'none';
      sizeSelect.style.display = 'none';
      classSelect.style.display = 'none';
      ratingSelect.style.display = 'none';
      scheduleSelect.style.display = 'none';
      thicknessSelect.style.display = 'none';
      designSelect.style.display = 'none';
      dimensiaonSelect.style.display = 'none';
    }
  });
  // mengambil elemen-elemen select yang ingin disembunyikan
  var selectElements = document.querySelectorAll(
    '#dimension-select, #design-select, #thickness-select, #schedule-select, #rating-select, #class-select, #size-select, #connection-select, #type-select, #productOptions'
    );

  // mengambil elemen tombol reset
  var resetButton = document.getElementById('reset');

  // mengatur aksi tombol reset ketika diklik
  resetButton.addEventListener('click', function () {
    // menyembunyikan elemen-elemen select
    selectElements.forEach(function (selectElement) {
      selectElement.style.display = 'none';
    });
  });
</script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Rp500.000', 'Rp1.000.000', 'Rp1.500.000', 'Rp2.000.000', 'Rp2.500.000', '3.000.000'],
      datasets: [{
          label: 'Probabilitas',
          data: [0.7, 0.6, 0.8, 0.9, 0.75, 0.85],
          borderColor: 'rgba(255, 99, 132, 1)',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderWidth: 1
        },
        {
          label: 'Upper Limit',
          data: [{
            x: 'Rp2.000.000',
            y: 0
          }, {
            x: 'Rp2.000.000',
            y: 1
          }],
          borderColor: 'rgba(75, 192, 192, 1)',
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderWidth: 2,
          fill: false,
          type: 'line',
          pointRadius: 0,
          borderDash: [5, 5],
          yAxisID: 'y-axis-2'
        },
        {
          label: 'Lower Limit',
          data: [{
            x: 'Rp1.000.000',
            y: 0
          }, {
            x: 'Rp1.000.000',
            y: 1
          }],
          borderColor: 'rgba(54, 162, 235, 1)',
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderWidth: 2,
          fill: false,
          type: 'line',
          pointRadius: 0,
          borderDash: [5, 5],
          yAxisID: 'y-axis-2'
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Probabilitas dan Batasannya'
      },
      scales: {
        yAxes: [{
          id: 'y-axis-1',
          position: 'left',
          ticks: {
            beginAtZero: true
          }
        }, {
          id: 'y-axis-2',
          position: 'right',
          gridLines: {
            drawOnChartArea: false,
            color: 'rgba(0,0,0,0.05)',
            zeroLineColor: 'rgba(0,255,0,0.05)'
          },
          ticks: {
            beginAtZero: true,
            fontColor: 'rgba(54, 162, 235, 1)'
          }
        }],
        xAxes: [{
          ticks: {
            fontColor: 'rgba(0,0,0,1)'
          }
        }]
      }
    }
  });
</script>
<% end %>