<div class="item-title2">
    <div class="card">
	   	<p class="id">Form</p>
    </div>
</div>

<%= form_for @disipline, html: {class: 'form-horizontal'} do |f| %>
    <% if @disipline.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@disipline.errors.count, "error") %> prohibited this disipline from being saved:</h2>

          <ul>
            <% @disipline.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control', placeholder: 'Name Disipline' %>
                    </div>
                    <div class="col">
                        <%= f.label :category %>
                        <%= f.text_field :category, class: 'form-control', placeholder: 'Category' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.label :logo %>
                        <!--
                            <%= f.file_field :logo, class: "form-control", accept: 'file/*', onchange: "validateFiles(this);",
                             data: {max_file_size: 10.megabytes}%>
                        -->
                        <div class="custom-file">
                            <%= f.file_field :logo, class: "custom-file-input", accept: 'file/*', onchange: "validateFiles(this);",
                             data: {max_file_size: 10.megabytes}%>
                             <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <%= link_to 'Cancel', disiplines_path, class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            function validateFiles(inputFile) {
                var maxExceededMessage = "This file exceeds the maximum allowed file size (100 MB)";
                var extErrorMessage = "Only doc file with extension: .png, .jpg or .jpeg is allowed";
                var allowedExtension = ["png", "jpeg", "jpg"];

                var extName;
                var maxFileSize = $(inputFile).data('max-file-size');
                var sizeExceeded = false;
                var extError = false;

                $.each(inputFile.files, function () {
                    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {
                        sizeExceeded = true;
                    }
                    ;
                    extName = this.name.split('.').pop();
                    if ($.inArray(extName, allowedExtension) == -1) {
                        extError = true;
                    }
                    ;
                });
                if (sizeExceeded) {
                    window.alert(maxExceededMessage);
                    $(inputFile).val('');
                }
                ;

                if (extError) {
                    window.alert(extErrorMessage);
                    $(inputFile).val('');
                }
                ;
            }

        </script>
<% end %>