<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Disipline</p>
		</div>
	</nav>
</div>
<section class="home-section2">
  <div class="card">
    <div class="card-body">
			<div class="row">
				<div class="col">
            <%= link_to new_disipline_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-plus">
                </span>
                    New Disipline
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                  <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Category</th>
                                                <th>Logo</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                        </thead>
                        <tbody>			
                          <% @disiplines.each_with_index do |disipline, index| %>
                                            <tr>
                                                <td><%= index + 1 %></td>
                                                <td><%= disipline.name %></td>
                                                <td><%= disipline.category %></td>
                                                <td><%= disipline.logo %></td>
                                                <td><%= link_to '', disipline, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                                                <td><%= link_to '', edit_disipline_path(disipline), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                                <td><%= link_to '', disipline, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                                            </tr>
                                        <% end %>
                        </tbody>
                        <tfoot>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Category</th>
                                                <th>Logo</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                        </tfoot>
					          </table>
                  </div>
            </div>
        </div>
    </section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
