<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Update User</p>
		</div>
	</nav>
</div>

<div class="button-card">
	<section class="home-section2">
        <div class="item-title2">
            <div class="card">
                <p class="id">
                    Form
                </p>
            </div>
        </div>
        <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>
                                    Data Source
                                </label>
                                    <%= f.text_field :user_type, class: 'dtSource form-control', readonly: true %>
                            </div>
                        </div>
                    </div>
                    <div class="manual ldap">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>
                                        Nama
                                    </label>
                                        <%= f.text_field :name, class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="manual ldap">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>
                                        Username
                                    </label>
                                        <%= f.text_field :username, class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="manual ldap">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>
                                        Email
                                    </label>
                                        <%= f.email_field :email, class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if @user.user_type == "Manual" %>
                        <label>
                            Password
                        </label>
                            <%= f.password_field :password, class: 'form-control' %>
                    <% else %>
                        <% f.hidden_field :password, value: @user.password %>
                    <% end %>
                    <br>
                    <div class="manual ldap">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>
                                        Role
                                    </label>
                                    <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                                        <%= m.label class: 'checkbox-inline' do %>
                                        <%= m.check_box class: 'checkbox-inline' %>
                                        <%= m.text %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <%= link_to 'Cancel', users_path, class: 'btn btn-danger' %>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>    
    </section>
</div>

<script>
      $(document).ready(function () {

          if ($(".dtSource").val() == "Manual") {
              $('.ldap').hide();
              $('.manual').show();
              $('#users dodol').disabled = false;
              $('#users username').required = true;
              $('#users password').required = true;
              $('#users email').required = true;
          } else if ($(".dtSource").val() == "LDAP") {
              $('.manual').hide();
              $('.ldap').show();
              $('#users dodol').disabled = true;
              $('#users username').required = false;
              $('#users password').required = false;
              $('#users email').required = false;
          } else {
              $('.ldap').hide();
              $('.manual').hide();
              $('#users dodol').disabled = false;
          }
      });

      $("#dodol").select2({
          theme: "bootstrap"
      });
      $("#divisi").select2({
          theme: "bootstrap"
      });
      $("#area").select2({
          theme: "bootstrap"
      });

      jQuery(function () {
          var area = $('#area').html();
          console.log(area);

          return $('#divisi').change(function () {
              var divisi, options;
              divisi = $('#divisi :selected').text();
              options = $(area).filter("optgroup[label=" + divisi + "]").html();
              console.log(options);
              if (options) {
                  return $('#area').html(options);
              } else {
                  return $('#area').empty();
              }
          })
      });

  </script>