<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">User</p>
		</div>
	</nav>
</div>
<section class="home-section2">
				<div class="card">
  					<div class="card-body">
						  <div class="row">
							  <div class="col">
                                <%= link_to new_user_path, class: 'btn btn-primary' do %>
                                    <span class="glyphicon glyphicon-plus">
                                    </span>
                                        New User
                                <% end %>
                </div>
              </div>
            </div>
        </div>
</section>
<div class="button-card">
    <section class="home-section2">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
						<thead>
							<tr>
								<th>No</th>
                                <th>Nama</th>
                                <th>Username</th>
                                <th>Current Login</th>
                                <th>Last Login</th>
                                <th>Role</th>
                                <th></th>
                                <th></th>
							</tr>
						</thead>
						<tbody>
							<% if @log_activities2.present? %>
                                <% @log_activities2.each_with_index do |item, index| %> 
                                    <tr>
                                    <td><%= index+1 %></td>
                                    <td><%= item.name.nil? ? "-" : item.name %></td>
                                    <td><%= item.username.nil? ? "-" : item.username %></td>
                                    <td><%= item.current_sign_in_at.nil? ? "-" : item.current_sign_in_at %></td>
                                    <td><%= item.last_sign_in_at.nil? ? "-" : item.last_sign_in_at %></td>
                                    <td><%= item.role_assignments.each_with_index.map { |role_assignment| "#{role_assignment.role.try(:name)}" }.join(", ") %></td>
                                    <td><%= link_to '', edit_user_path(item), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                    <td><%= button_to '', user_path(item), method: :delete, data: {confirm: 'Are you sure?'}, form_class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete", onclick: "return confirm('Are you sure?')" %></td>
                                    </tr>
                                <% end %>
                            <% end %>
						</tbody>
						<tfoot>
							<tr>
								<th>No</th>
                                <th>Nama</th>
                                <th>Username</th>
                                <th>Current Login</th>
                                <th>Last Login</th>
                                <th>Role</th>
                                <th></th>
                                <th></th>
							</tr>
						</tfoot>
					</table>
                </div>
            </div>
        </div>
    </section>
</div>

<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
