<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">New User</p>
		</div>
	</nav>
</div>

<div class="button-card">
	<section class="home-section2">
            <div class="item-title2">
                <div class="card">
                    <p class="id">
                        Form
                    </p>
                </div>
            </div>
            <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>Data Source
                                    </label>
                                        <%= f.select :user_type, ["Manual", "LDAP"], {prompt: "Silahkan Dipilih"}, onchange: "changeDs($(this))", class: 'dtSource form-control' %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ldap">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>User LDAP</label>
                                        <%
                                            ldap = Net::LDAP.new :host => '192.168.60.159',
                                                                :port => 389,
                                                                :auth => {
                                                                    :method => :simple,
                                                                    :username => "cn=manager, dc=pgn-solution, dc=co, dc=id",
                                                                    :password => "4lh4mdul1ll4h"
                                                                }

                                            filter = Net::LDAP::Filter.eq("cn", "*")
                                            treebase = "dc=pgn-solution, dc=co, dc=id"
                                        %>
                                        <select class="form-control select2" name="username" id="getLdapUser" data-live-search="true">
                                            <%
                                            ldap.search(:base => treebase, :filter => filter) do |entry|
                                            %>
                                            <% if params[:member_id].present?
                                                user = Member.find(params[:member_id])
                                                if user.username == entry["sn"].map(&:inspect).join(', ').gsub('"', '')
                                                    selected = "selected"
                                                end
                                            %>
                                                <option value="<%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %>" <%= selected %>><%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %></option>
                                            <% else %>
                                                <option value="<%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %>"><%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %></option>
                                            <% end %>
                                            <% end %>
                                        </select>
                                    </div>
                                </div>
                            </div>            
                        </div>
                        <div class="manual ldap">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>
                                            Nama
                                        </label>
                                            <%= f.text_field :name, class: 'form-control' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="manual">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>
                                            Username
                                        </label>
                                            <%= f.text_field :username, class: 'form-control' %>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="manual">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>
                                            Email
                                        </label>
                                            <%= f.email_field :email, class: 'form-control' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="manual">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>
                                            Password
                                        </label>
                                            <%= f.password_field :password, class: 'form-control' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="manual ldap">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>
                                            Role
                                        </label>
                                        <label>
                                            ----
                                        </label>
                                            <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                                                    <%= m.label class: 'checkbox-inline' do %>
                                                    <%= m.check_box class: 'checkbox-inline' %>
                                                    <%= m.text %>
                                                    <% end %>
                                            <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                <%= link_to 'Cancel', users_path, class: 'btn btn-danger' %>
                                    <button type="submit" class="btn btn-primary">
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            <% end %>
  </section>
</div>



<script>
        $(document).ready(function () {
            $('.manual').hide();
            $('.ldap').hide();
        });

        jQuery(function () {
            var area = $('#area').html();
            console.log(area);

            return $('#divisi').change(function () {
                var divisi, options;
                divisi = $('#divisi :selected').text();
                options = $(area).filter('optgroup[label="' + divisi + '"]').html();
                console.log(options);
                if (options) {
                    return $('#area').html(options);
                } else {
                    return $('#area').empty();
                }
            })
        });

        function changeDs(value) {
            if (value.val() == "Manual") {
                $('.ldap').hide();
                $('.manual').show();
                $('#users getLdapUser').disabled = false;
                $('#users username').required = true;
                $('#users password').required = true;
                $('#users email').required = true;
            } else if (value.val() == "LDAP") {
                $('.manual').hide();
                $('.ldap').show();
                $('#users getLdapUser').disabled = true;
                $('#users username').required = false;
                $('#users password').required = false;
                $('#users email').required = false;
            } else {
                $('.ldap').hide();
                $('.manual').hide();
                $('#users getLdapUser').disabled = false;
            }
        }

        $("#getLdapUser").select2();
        $("#divisi").select2({
            theme: "bootstrap"
        });
        $("#area").select2({
            theme: "bootstrap"
        });

</script>