<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li><li>User</li><li>New User</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
<div id="content">
  <div class="page-header">
  </div>
  <div class="page-header">
      <h1>New User</h1>
  </div>
  <div class="page-header">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Form User</div>
    <div class="panel-body">
      <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Data Source</label>
            <div class="col-sm-8">
              <%= f.select :user_type, ["Manual", "LDAP"], {prompt: "Silahkan Dipilih"}, onchange: "changeDs($(this))", class: 'dtSource form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset class="ldap">
          <div class="form-group">
            <label class="col-sm-2 control-label">User LDAP</label>
            <div class="col-sm-8">
              <%
                ldap = Net::LDAP.new :host => '192.168.60.159',
                                     :port => 389,
                                     :auth => {
                                         :method => :simple,
                                         :username => "cn=manager, dc=pgn-solution, dc=co, dc=id",
                                         :password => "4lh4mdul1ll4h"
                                     }

                filter = Net::LDAP::Filter.eq("cn", "*")
                treebase = "dc=pgn-solution, dc=co, dc=id"
              %>
              <select class="form-control select2" name="username" id="getLdapUser" data-live-search="true">
                <%
                  ldap.search(:base => treebase, :filter => filter) do |entry|
                %>
                  <% if params[:member_id].present?
                       user = Member.find(params[:member_id])
                       if user.username == entry["sn"].map(&:inspect).join(', ').gsub('"', '')
                         selected = "selected"
                       end
                  %>
                    <option value="<%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %>" <%= selected %>><%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %></option>
                  <% else %>
                    <option value="<%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %>"><%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual ldap">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-8">
              <%= f.text_field :username, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual ldap">
          <div class="form-group">
            <label class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
              <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                <%= m.label class: 'checkbox-inline' do %>
                  <%= m.check_box class: 'checkbox-inline' %>
                  <%= m.text %>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

  <script>
      $(document).ready(function () {
          $('.manual').hide();
          $('.ldap').hide();
      });

      jQuery(function () {
          var area = $('#area').html();
          console.log(area);

          return $('#divisi').change(function () {
              var divisi, options;
              divisi = $('#divisi :selected').text();
              options = $(area).filter('optgroup[label="' + divisi + '"]').html();
              console.log(options);
              if (options) {
                  return $('#area').html(options);
              } else {
                  return $('#area').empty();
              }
          })
      });

      function changeDs(value) {
          if (value.val() == "Manual") {
              $('.ldap').hide();
              $('.manual').show();
              $('#users getLdapUser').disabled = false;
              $('#users username').required = true;
              $('#users password').required = true;
              $('#users email').required = true;
          } else if (value.val() == "LDAP") {
              $('.manual').hide();
              $('.ldap').show();
              $('#users getLdapUser').disabled = true;
              $('#users username').required = false;
              $('#users password').required = false;
              $('#users email').required = false;
          } else {
              $('.ldap').hide();
              $('.manual').hide();
              $('#users getLdapUser').disabled = false;
          }
      }

      $("#getLdapUser").select2();
      $("#divisi").select2({
          theme: "bootstrap"
      });
      $("#area").select2({
          theme: "bootstrap"
      });

  </script>
  
</div>