<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Brocure</p>
		</div>
	</nav>
</div>
<section class="home-section2">
    <div class="card">
        <div class="card-body">
			<div class="row">
				<div class="col">
                    <%= link_to new_brochure_path, class: 'btn btn-primary' do %>
                        <span class="glyphicon glyphicon-plus">
                        </span>
                            New Brochures
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
                            <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Item</th>
                                        <th>Brochure title</th>
                                        <th>Brochure path</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>			
                                <% @brochures.each_with_index do |brochure, index| %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td><%= brochure.general_spec %></td>
                                        <td><%= brochure.brochure_title %></td>
                                        <td><%= brochure.brochure_path %></td>
                                        <td><%= link_to 'Show', brochure %></td>
                                        <td><%= link_to 'Edit', edit_brochure_path(brochure) %></td>
                                        <td><%= link_to 'Destroy', brochure, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                                        <td><%= link_to 'Download', downloadBrochure_brochures_path(brochure) %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                            <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Item</th>
                                        <th>Brochure title</th>
                                        <th>Brochure path</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
