<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Item Piping - Valve</p>
		</div>
	</nav>
</div>
		<div class="tabs">
			<div class="tab-header">
				<div class="active">
					<i class="fas fa-info-circle"></i> Detail
				</div>
				<div>
					<i class="fas fa-chart-bar"></i>Price History
				</div>
			</div>
				<div class="tab-indicator">
				</div>
					<div class="tab-body">
						<div class="active">
							<h2>Detail</h2>
							<hr/>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td>Product : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.product_name.to_s %></button></td>
											<td>Type : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.name_type.to_s %></button></td>
											<td>Brand : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.name_brand.to_s %></button></td>
											<td>Size : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.size.to_s %></button></td>
											
										</tr>
										<tr>
											<td>COO : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @vendorPrice.first.country_name.to_s %></button></td>
											<td>Class Items : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.class.to_s %></button></td>
											<td>Unit : </td>
											<td>
                                                <% if @itemss.first %>
                                                    <button type="button" class="btn btn-outline-primary"><%= @itemss.first.unit_name.to_s %></button>
                                                <% else %>
                                                    <button type="button" class="btn btn-outline-primary"></button>
                                                <% end %>
                                            </td>
											
										</tr>
										<tr>
											<td>Delivery Point : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.delivery_point.to_s %></button></td>
											<td>Delivery Time : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.delivery_time.to_s %></button></td>
											<td>Incoterm : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.incoterm.to_s %></button></td>
										</tr>
                                        <tr>
											<td>Schedule : </td>
											<td><button type="button" class="btn btn-outline-primary"><%= @items.first.schedule.to_s %></button></td>

										<tr>
											<td>General Spec : </td>
											<td colspan="3"><button type="button" class="btn btn-outline-primary"><%= @items.first.general_spec.to_s %></button></td></td>
											<td>Note : </td>
											<td colspan="3"><button type="button" class="btn btn-outline-primary"><%= @items.first.note.to_s %></button></td></td>
										</tr>
										
									</tbody>
								</table>
						</div>
						<div>
							<h2>Price History</h2>
							<hr/>
								
										<%= link_to new2_price_items_path(@items.first.iditems.to_i), class: 'btn btn-primary' do %>
											<span class="glyphicon glyphicon-plus"></span>
											New Price item
										<% end %>
										<hr/>
										<table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
											<thead>
												<tr>
													<th>Vendor</th>
													<th>Price</th>
													<th>Incoterm</th>
													<th>Date</th>
													<th>Vat</th>
													<th>Note</th>
													<th></th>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												
												<%= content_tag_for(:tr, @vendorPrice) do |price_item| %>
													
													<td>
														<%= link_to detail_modalbox_vendors_path(price_item.vendor_id), remote: true do %>
															<%= price_item.namevendors %>
														<% end %>
													</td>
													<td><%= number_to_currency(price_item.price, :unit => "#{price_item.current_name} ") %></td>
													<td><%= price_item.incoterm %></td>
													<td><%= price_item.date %></td>
													<td><%= price_item.vat %></td>
													<td><%= price_item.note %></td>
													<td><%= link_to '', price_item_path(price_item.idpriceitems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
													<td><%= link_to '', edit_price_item_path(price_item.idpriceitems), class: 'fas fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
													<td><%= link_to '', price_item_path(price_item.idpriceitems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
												
												<% end %>
												
											</tbody>
											<tfoot>
												<tr>
													<th>Vendor</th>
													<th>Price</th>
													<th>Incoterm</th>
													<th>Date</th>
													<th>Vat</th>
													<th>Note</th>
													<th></th>
													<th></th>
													<th></th>
												</tr>
											</tfoot>
										</table>
									
							
						</div>
					</div>
		</div>


	<script>
		let tabHeader = document.getElementsByClassName("tab-header")[0];
		let tabIndicator = document.getElementsByClassName("tab-indicator")[0];
		let tabBody = document.getElementsByClassName("tab-body")[0];

		let tabsPane = tabHeader.getElementsByTagName("div");

		for(let i=0;i<tabsPane.length;i++){
			tabsPane[i].addEventListener("click",function(){
				tabHeader.getElementsByClassName("active")[0].classList.remove("active");
				tabsPane[i].classList.add("active");
				tabBody.getElementsByClassName("active")[0].classList.remove("active");
				tabBody.getElementsByTagName("div")[i].classList.add("active");

				tabIndicator.style.left = `calc(calc(100% / 2) * ${i})`;
			});
		}
	</script>
