<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Admin Panel</li>
      <li>Daftar Harga Satuan</li>
      <li>Jargas - Instrument</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>

<div id="content">
  <div class="page-header">
  </div>
  <div class="page-header">
    <button type="button" style= "float: right;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Import Item
    </button>
    <%= link_to jargas_instruments_new_path, style: "float: right;", class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Jargas - Instrument
    <% end %>
    <h1>Listing Jargas - Instrument</h1>
  </div>
  <div class="page-header">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
      <!-- widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      data-widget-sortable="false"

      -->
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      </header>

      <!-- widget div-->
      <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->

        </div>
        <div class="table-responsive">
          <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
              <th>No</th>
              <th>Product</th>
              <th>Type</th>
              <th>Brand</th>
              <th>Size</th>
              <th>General Spec</th>
              <th>Price</th>
              <th>Vendor</th>
              <th>Date</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
              <% if @log_activities1.present? %>
                <% @log_activities1.each_with_index do |item, index| %>
                  <% @getLastPriceItems1 = PriceItem.left_outer_joins(:currency).where(item_id: item.iditems).select('*').order('price_items.date DESC').limit(1) %>
                  <tr title="<%= @getLastPriceItems1.first.date %>">
                    <td><%= index+1 %></td>
                    <td><%= item.product_name.nil? ? "-" : item.product_name %></td>
                    <td><%= item.name_type.nil? ? "-" : item.name_type %></td>
                    <td><%= item.name_brand.nil? ? "-" : item.name_brand %></td>
                    <td><%= item.size.nil? ? "-" : item.size %></td>
                    <td><%= item.general_spec.nil? ? "-" : item.general_spec %></td>
                    <% @getLastPriceItems = PriceItem.left_outer_joins(:currency).where(item_id: item.iditems).select('*').order('price_items.date DESC').limit(1) %>
                    <td><%= number_to_currency(@getLastPriceItems.first.price.to_s, :unit => "(#{@getLastPriceItems.first.current_name.to_s}) ").gsub(',', '.').gsub(/\.00$/,'') %></td>
                    <td><%= item.namevendors.nil? ? "-" : item.namevendors %></td>
                    <td><%= @getLastPriceItems1.first.date %></td>
                    <td><%= link_to '', items_show_dashboard_index_path(item.iditems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
                    <td><%= link_to '', edit_jargas_instrument_path(item.iditems), class: 'fa fa-pencil btn btn-sm btn-warning', title: "Edit" %></td>
                    <td><%= link_to '', item_path(item.iditems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                    <td><%= check_box_tag "blog_posts[]", item.iditems %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <%= form_for :import_items, url: import_items_create_path, method: :post do |f|%>
    <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Import Items</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>
                Import Data
              </h4>
              <%= f.file_field :items_import, class: "form-control", accept: 'file/*', onchange: "validateFiles(this);", required: true,
                             data: {max_file_size: 100.megabytes}%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Upload File", class: 'btn btn-primary' %>
            </div>
            <div class="modal-footer">
              <%= link_to getDataTemplate_jargas_instruments_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-download"></span>
                Download Template Jargas - Instrument
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <!-- Modal -->
  <% end %>
</div>



<% content_for :scripts do %>
  <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () {

          pageSetUp();

          /* // DOM Position key index //

           l - Length changing (dropdown)
           f - Filtering input (search)
           t - The Table! (datatable)
           i - Information (records)
           p - Pagination (paging)
           r - pRocessing
           < and > - div elements
           <"#id" and > - div with an id
           <"class" and > - div with a class
           <"#id.class" and > - div with an id and class

           Also see: http://legacy.datatables.net/usage/features
           */

          /* BASIC ;*/
          var responsiveHelper_dt_basic = undefined;
          var responsiveHelper_datatable_col_reorder = undefined;

          var breakpointDefinition = {
              tablet: 1024,
              phone: 480
          };

          $('#datatable_col_reorder').dataTable({
            initComplete: function () {
              this.api().columns(2).every(function () {
                var column = this;
                var select = $('<select class="btn btn-primary dropdown-toggle col-sm-3"><option value="">Product ALL</option></select>')
                  .appendTo($('#datatable_col_reorder_filter'))
                  
                  .on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                      $(this).val()
                    );
                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                  });
                column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option>')
                });
              });

              this.api().columns(3).every(function () {
                var column = this;
                var select = $('<select class="btn btn-primary dropdown-toggle col-sm-3"><option value="">Type ALL</option></select>')
                  .appendTo($('#datatable_col_reorder_filter'))
                  .on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                      $(this).val()
                    );
                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                  });
                column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option>')
                });
              });

              this.api().columns(4).every(function () {
                var column = this;
                var select = $('<select class="btn btn-primary dropdown-toggle col-sm-3"><option value="">Brand ALL</option></select>')
                  .appendTo($('#datatable_col_reorder_filter'))
                  .on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                      $(this).val()
                    );
                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                  });
                column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option>')
                });
              });

              this.api().columns(5).every(function () {
                var column = this;
                var select = $('<select class="btn btn-primary dropdown-toggle col-sm-3"><option value="">Size ALL</option></select>')
                  .appendTo($('#datatable_col_reorder_filter'))
                  .on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                      $(this).val()
                    );
                    val = val.replace(/([\/\(\)\.])/g, "\\$1");
                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                  });
                column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option>')
                });
              });
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_dt_basic) {
                      responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_dt_basic.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_dt_basic.respond();
              },
              "scrollY": "210px",
              "scrollCollapse": true
          });
          /* END BASIC */

          /* COLUMN SHOW - HIDE */
          $('#datatable_col_reorder1').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_col_reorder) {
                      responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder1'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_col_reorder.respond();
              }
          });

          /* END COLUMN SHOW - HIDE */

          

      })

      

  </script>


  
<% end %>