<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Edit Price</p>
		</div>
	</nav>
</div>
<div class="button-card">
	<section class="home-section2">   
            <%= render 'form' %>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#dateformat").datepicker({
                        dateFormat: 'yy-mm-dd',
                        defaultDate: "0d",
                        changeMonth: true,
                        changeYear: true,
                        prevText: "",
                        nextText: "",
                    });
                });
            </script>
            <%= link_to @price_item, style: "float: right;", class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-info-sign">
                </span>
                    Show
            <% end %>
	</section>
</div>