<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Price Item</p>
		</div>
	</nav>
</div>
<section class="home-section2">
    <div class="card">
        <div class="card-body">
			<div class="row">
				<div class="col">
                    <%= link_to new_price_item_path, class: 'btn btn-primary' do %>
                        <span class="glyphicon glyphicon-plus">
                        </span>
                            New Price item
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
                            <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Project name</th>
                                        <th>Incoterm</th>
                                        <th>Date</th>
                                        <th>Vat</th>
                                        <th>Term payment</th>
                                        <th>Delivery time</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>			
                                <% if @log_activities1.present? %>
                                    <% @log_activities1.each_with_index do |item, index| %>
                                        <tr>
                                            <td><%= index+1 %></td>
                                            <td><%= item.project_name.nil? ? "-" : item.project_name %></td>
                                            <td><%= item.incoterm.nil? ? "-" : item.incoterm %></td>
                                            <td><%= item.date.nil? ? "-" : item.date %></td>
                                            <td><%= item.vat.nil? ? "-" : item.vat %></td>
                                            <td><%= item.term_payment.nil? ? "-" : item.term_payment %></td>
                                            <td><%= item.delivery_time.nil? ? "-" : item.delivery_time %></td>
                                            <td><%= number_to_currency(item.price, :unit => "(#{item.current_name}) ") %></td>
                                            <td><%= item.status.nil? ? "-" : item.status %></td>
                                            <td><%= link_to '', price_item_path(item.idpriceitems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
                                            <td><%= link_to '', edit_price_item_path(item.idpriceitems), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                            <td><%= link_to '', price_item_path(item.idpriceitems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                            <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Project name</th>
                                        <th>Incoterm</th>
                                        <th>Date</th>
                                        <th>Vat</th>
                                        <th>Term payment</th>
                                        <th>Delivery time</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
