<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>Home</li>
        <li>Price Items</li>
        <li>New Price Items</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>

    <div class="page-header">
    </div>
    <div class="page-header">
      <%= link_to :back, style: "float: right;", class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
      <h1>New Price Items</h1>
    </div>
  <div class="page-header">
    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
      <header>
        <h2>Form Price Items</h2>
      </header>
      <div>
        <!-- widget content -->
        <div class="widget-body">
          <%= render 'form' %>
          <script type="text/javascript">
              $(document).ready(function () {
                  // Format Date

                  $("#dateformat").datepicker({
                      dateFormat: 'yy-mm-dd',
                      defaultDate: "0d",
                      changeMonth: true,
                      changeYear: true,
                      prevText: "",
                      nextText: "",
                  });
              });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
