<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Price Item</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
    <div class="item-title2">
    </div>
		<div class="card">
			<div class="card-header">
                Detail Price Item
                <%= link_to edit_price_item_path(@price_item), style: "float: right;", class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                        Edit
                <% end %>

            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
						<thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Detail</th>
                                </tr>
						</thead>
						<tbody>			
                                <tr>
                                    <td>Price Letter</td>
                                    <td><%= @getPriceItem.first.price_letter_title.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Reference Item</td>
                                    <td><%= @getPriceItem.first.namereferensi_items.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td><%= @getPriceItem.first.country_name.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Vendor</td>
                                    <td><%= @getPriceItem.first.namevendors.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Currency</td>
                                    <td><%= @getPriceItem.first.current_name.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>General Spec</td>
                                    <td><%= @getPriceItem.first.general_spec.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Project name:</td>
                                    <td><%= @getPriceItem.first.project_name.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Incoterm:</td>
                                    <td><%= @getPriceItem.first.incoterm.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td><%= @getPriceItem.first.date.try(:to_s) ? @getPriceItem.first.date.strftime('%d %m %Y').try(:to_s) : "" %></td>
                                </tr>
                                <tr>
                                    <td>Vat:</td>
                                    <td><%= @getPriceItem.first.vat.try(:to_s) %></td>
                                <tr>
                                <tr>
                                    <td>Term payment:</td>
                                    <td><%= @getPriceItem.first.term_payment.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Delivery time:</td>
                                    <td><%= @getPriceItem.first.delivery_time.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Price:</td>
                                    <td><%= number_to_currency(@getPriceItem.first.price.try(:to_s), :unit => "#{@getPriceItem.first.current_name.to_s}") %></td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td><%= @getPriceItem.first.status.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Note:</td>
                                    <td><%= @getPriceItem.first.note.try(:to_s) %></td>
                                </tr>
                                <tr>
                                    <td>Last:</td>
                                    <td><%= @getPriceItem.first.last.try(:to_s) %></td>
                                </tr>
						</tbody>

				    </table>
                </blockquote>
            </div>

        </div>
    </section>
</div>

