
    <div class="item-title2">
      <div class="card">
		        	<p class="id">Form</p>
      </div>
		</div>
    <%= form_for(@item, html: {role: "form"}) do |f| %>
                            
        <% if @item.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close
                    </span>
                </button>
                <h4>
                    <%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:
                </h4>
                    <ul>
                        <% @item.errors.full_messages.each do |msg| %>
                            <li>
                                <%= msg %>
                            </li>
                                <% end %>
                    </ul>
            </div>
        <% end %>

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Brand
                                <%= link_to new_modalbox_brands_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                    <i class="fa fa-plus fa-lg"></i>
                                <% end %>
                            </label>
                            <%= f.collection_select :brand_id, Brand.order(:name_brand), :id, :name_brand, {prompt: "Select a Brand"}, {:class => 'custom-select'} %>
                        </div>
                        <div class="col">
                            <label class="control-label">
                                <span style="color:red;">
                                    *
                                </span>
                                    Vendor
                                <%= link_to new_modalbox_vendors_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                    <i class="fa fa-plus fa-lg"></i>
                                <% end %>
                            </label>
                            <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, {prompt: "Select a Vendor"}, {:class => 'custom-select', required: true} %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Disiplin
                                <%= link_to new_modalbox_disiplines_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                    <i class="fa fa-plus fa-lg"></i>
                                <% end %>
                            </label>
                                <%= f.collection_select :disipline_id, Disipline.order(:name), :id, :name, {prompt: "Select a Disipline"}, {:class => 'custom-select'} %>
                        </div>
                        <div class="col">
                            <label class="control-label">Type
                                <%= link_to new_modalbox_types_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                    <i class="fa fa-plus fa-lg"></i>
                                <% end %>
                            </label>
                            <%= f.collection_select :type_id, Type.order(:name_type), :id, :name_type, {prompt: "Select a Type"}, {:class => 'custom-select'} %>    
                            <!-- <%= f.collection_select :type_id, Type.select("distinct name_type"), :id, :name_type, {prompt: "Select a Type"}, {:class => 'custom-select', required: true} %>-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label"><span style="color:red;">*</span>Product
                                <%= link_to new_modalbox_products_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                    <i class="fa fa-plus fa-lg"></i>
                                <% end %>
                            </label>
                                <%= f.collection_select :product_id, Product.order(:product_name), :id, :product_name, {prompt: "Select a Product"}, {:class => 'custom-select', required: true} %>
                        </div>
                        <div class="col">
                            <label class="control-label">Unit
                                <%= link_to new_modalbox_units_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                    <i class="fa fa-plus fa-lg"></i>
                                <% end %>
                            </label>
                                <%= f.collection_select :unit_id, Unit.order(:unit_name), :id, :unit_name, {prompt: "Select a Unit"}, {:class => 'custom-select'} %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">
                                Class Item
                            </label>
                                <%= f.text_field :class_item, class: "form-control" %>
                        </div>
                        <div class="col">
                            <label class="control-label">
                                Size
                            </label>
                                <%= f.text_field :size, class: "form-control" %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">
                                Schedule
                            </label>
                                <%= f.text_field :schedule, class: "form-control" %>
                        </div>
                        <div class="col">
                            <label class="control-label">
                                No Quotation
                            </label>
                                <%= f.text_field :no_quotation, class: "form-control" %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">
                                <span style="color:red;">
                                    *
                                </span>
                                    General Spec
                            </label>
                                <%= f.text_area :general_spec, class: "form-control", rows: 8, required: true %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">
                                Note
                            </label>
                                <%= f.text_area :note, class: "form-control", rows: 8 %>
                        </div>
                    </div>
                </div>
                <%= f.hidden_field :document, class: "form-control", rows: 8, value: "Pipe" %>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-eye">
                                </i>
                                    Validate
                            </button>
                        </div>
                        <div class="col">
                            <%= link_to :back, style: "float: right;", class: 'btn btn-primary' do %>
                                <span class="glyphicon glyphicon-list-alt"></span>
                                Back
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    <% end %>
