
<div class="loginn">
    <%= image_tag 'imgnew/bg-dhs5.png', class: 'pgnlogo', alt: 'not found' %>
</div>
<div class="loginn2">
            <%= image_tag 'imgnew/logo.png', class: 'pgnlogo2', alt: 'not found' %>
</div>
        <% content_for :html_id, "extr-page" %>
        <% content_for :body_class, "animated fadeInDown" %>
        <% content_for :top_right do %>
        <% end %>
        
                        <div class="login-box">
                                <center>
                                <span id="logo">
                                <%= image_tag 'imgnew/pgn-solution.png', class: 'pgnlogo', alt: 'not found' %>
                                </center>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login-form', class: 'smart-form client-form'}) do |f| %>
                                    <div class="user-box">
                                    <%= f.text_field :username, autofocus: true, :required => true %>
                                    <label>Username</label>
                                    </div>
                                    <div class="user-box">
                                    <%= f.password_field :password, autofocus: true, :required => true %>
                                    <label>Password</label>
                                    </div>
                                    <a type="submit" id="signin-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <p style="color: white;">Sign In</p>
                                    </a>
                                <% end %>
                        </div>

                        <% content_for :scripts do %>
                        <script type="text/javascript">
                            $(function() {
                                // Validation
                                $("#login-form").validate({
                                    // Rules for form validation
                                    rules : {
                                        email : {
                                            required : true,
                                            email : true
                                        },
                                        password : {
                                            required : true,
                                            minlength : 3,
                                            maxlength : 20
                                        }
                                    },

                                    // Messages for form validation
                                    messages : {
                                        email : {
                                            required : 'Please enter your email address',
                                            email : 'Please enter a VALID email address'
                                        },
                                        password : {
                                            required : 'Please enter your password'
                                        }
                                    },

                                    // Do not change code below
                                    errorPlacement : function(error, element) {
                                        error.insertAfter(element.parent());
                                    }
                                });
                            });
                        </script>
                        <% end %>
                        
                        <script type="text/javascript">
                            document.getElementById("signin-btn").addEventListener("click", function() {
                                document.querySelector("form").submit();
                            });
                            
                        </script>