<div class="item-title2">
    <div class="card">
		<p class="id">
            Form
        </p>
    </div>
</div>

<%= form_for @role, html: { class: 'form-horizontal' } do |f| %>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col mr-0">
                        <label>Nama</label>
                        <%= f.text_field :name, class: 'form-control', placeholder: 'Name Role' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="checkbox c-checkbox c-checkbox-rounded">
                            <span class="fa fa-check">
                            </span>
                                Select All
                                <input type="checkbox" id="selectAll" value="selectAll" type="checkbox">
                        </label>
                          
                    </div>
                </div>
            </div>
            <%= render partial: "permissions", locals: {f: f, name: :permissions_attributes, permissions: @role.permissions} %>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <%= link_to 'Cancel', roles_path, class: 'btn btn-primary' %>
                    </div>
                    <div class="col">
                        <%= link_to :back, style: "float: right;", class: 'btn btn-primary' do %>
                                <span class="glyphicon glyphicon-list-alt"></span>
                                Back
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<script type="text/javascript">
  $("#selectAll").click(function() {
   if (this.checked) {
     $(':checkbox').each(function() {
       this.checked = true;
     });
   } else {
    $(':checkbox').each(function() {
     this.checked = false;
   });
  }
});
</script>
