<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Update Roles</p>
		</div>
	</nav>
</div>
<div class="button-card">
	<section class="home-section2">   
      <%= render 'form', role: @role %>
	</section>
</div>