<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Role</p>
		</div>
	</nav>
</div>
<section class="home-section2">
				<div class="card">
  					<div class="card-body">
						  <div class="row">
							  <div class="col">
                    <%= link_to new_role_path, class: 'btn btn-primary' do %>
                      </span>
                        New Role
						
                    <% end %>
                </div>
              </div>
            </div>
        </div>
</section>

<div class="button-card">
		<section class="home-section2"> 
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Nama</th>
									<th>Aksi</th>
										
								</tr>
							</thead>
							<tbody>
								<% @roles.each_with_index do |role, index| %>
									<tr>
										<td><%= index + 1 %></td>
										<td><%= role.name %></td>
										<td class="text-center" style="width: 100px">
											<%#= link_to '', role, class: 'fa fa-eye btn btn-sm btn-default' %>
											<%= link_to '', edit_role_path(role), class: 'fa fa-pencil-alt btn btn-sm btn-warning' %>
											<% if role.id != 1 and role.id != 2 %>
											<%= button_to '', role, method: :delete, data: {confirm: "Are You Sure?"}, form_class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete", onclick: "return confirm('Are you sure?')" %>
											<% else %>
											<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Nama</th>
									<th>Aksi</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		
		</section>
	</div>

<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
