<div class="item-title2">
    <div class="card">
	   	<p class="id">Form</p>
    </div>
</div>
<%= form_for(@item, html: {role: "form"}) do |f| %>
    <% if @item.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">
                    &times;
                </span>
                <span class="sr-only">
                    Close
                </span>
            </button>
                <h4>
                    <%= pluralize(@item.errors.count, "error") %> 
                        prohibited this item from being saved:
                </h4>

            <ul>
                <% @item.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Brand
                            <%= link_to new_modalbox_brands_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                <i class="fa fa-plus fa-lg">
                                </i>
                            <% end %>
                        </label>
                            <%= f.collection_select :brand_id, Brand.order(:name_brand), :id, :name_brand, {prompt: "Select a Brand"}, {:class => 'custom-select'} %>
                    </div>
                    <div class="col">
                        <label>
                            Vendor
                            <%= link_to new_modalbox_vendors_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                <i class="fa fa-plus fa-lg"></i>
                            <% end %>
                        </label>
                        <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, {prompt: "Select a Vendor"}, {:class => 'custom-select'} %>
                    </div>
                    <div class="col">
                        <label class="control-label">
                            Disipline
                            <%= link_to new_modalbox_disiplines_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                <i class="fa fa-plus fa-lg">
                                </i>
                            <% end %>
                        </label>
                        <%= f.collection_select :disipline_id, Disipline.order(:name), :id, :name, {prompt: "Select a Disipline"}, {:class => 'custom-select'} %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Type
                            <%= link_to new_modalbox_types_path, class: 'btn btn-default txt-color-green', remote: true do %>
                            <i class="fa fa-plus fa-lg"></i>
                            <% end %>
                        </label>
                        <%= f.collection_select :type_id, Type.order(:name_type), :id, :name_type, {prompt: "Select a Type"}, {:class => 'custom-select'} %>
                    </div>
                    <div class="col">
                        <label class="control-label">Product
                            <%= link_to new_modalbox_products_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                <i class="fa fa-plus fa-lg">
                                </i>
                            <% end %>
                        </label>
                        <%= f.collection_select :product_id, Product.order(:product_name), :id, :product_name, {prompt: "Select a Product"}, {:class => 'custom-select'} %>
                    </div>
                    <div class="col">
                        <label class="control-label">Unit
                            <%= link_to new_modalbox_units_path, class: 'btn btn-default txt-color-green', remote: true do %>
                                <i class="fa fa-plus fa-lg">
                                </i>
                            <% end %>
                        </label>
                        <%= f.collection_select :unit_id, Unit.order(:unit_name), :id, :unit_name, {prompt: "Select a Unit"}, {:class => 'custom-select'} %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Class Item</label>
                        <%= f.text_field :class_item, class: "form-control", placeholder: 'Class Item' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Dimension</label>
                        <%= f.text_field :dimension, class: "form-control", placeholder: 'Dimension' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Size</label>
                        <%= f.text_field :size, class: "form-control", placeholder: 'Size' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Scope of Supply</label>
                        <%= f.text_field :scope_of_supply, class: "form-control", placeholder: 'Scope of Supply' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Others</label>
                        <%= f.text_field :others, class: "form-control", placeholder: 'Others' %>
                    </div>
                    <div class="col">
                        <label class="control-label">No Quotation</label>
                        <%= f.text_field :no_quotation, class: "form-control", placeholder: 'No Quotation' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Schedule</label>
                        <%= f.text_field :schedule, class: "form-control", placeholder: 'Schedule' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Degree</label>
                        <%= f.text_field :degree, class: "form-control", placeholder: 'Degree' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Wall Thickness</label>
                        <%= f.text_field :wall_thickness, class: "form-control", placeholder: 'Wall Thickness' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Remark</label>
                        <%= f.text_field :remark, class: "form-control", placeholder: 'Remark' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Valve Specification</label>
                        <%= f.text_field :valve_specification, class: "form-control", placeholder: 'Valve Specification' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Actuator Specification</label>
                        <%= f.text_field :actuator_specification, class: "form-control", placeholder: 'Actuator Specification' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Solenoid Specification</label>
                        <%= f.text_field :solenoid_specification, class: "form-control", placeholder: 'Solenoid Specification' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Limit Swict Specification</label>
                        <%= f.text_field :limit_swict_specification, class: "form-control", placeholder: 'Limit Swict Specification' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Sensor</label>
                        <%= f.text_field :sensor, class: "form-control", placeholder: 'Sensor' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Housing Spec</label>
                        <%= f.text_field :housing_spec, class: "form-control", placeholder: 'Housing Spec' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Flowmeter Specification</label>
                        <%= f.text_field :flowmeter_specification, class: "form-control", placeholder: 'Flowmeter Specification' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Transmitter</label>
                        <%= f.text_field :transmitter, class: "form-control", placeholder: 'Transmitter' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Process Control System Spec 2</label>
                        <%= f.text_field :process_control_system_spec_2, class: "form-control", placeholder: 'Process Control System Spec 2' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Safety Instrumented System Spec</label>
                        <%= f.text_field :safety_instrumented_system_spec, class: "form-control", placeholder: 'Safety Instrumented System Spec' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Fire And Gas System Spec</label>
                        <%= f.text_field :fire_and_gas_system_spec, class: "form-control", placeholder: 'Fire And Gas System Spec' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Remote</label>
                        <%= f.text_field :remote, class: "form-control", placeholder: 'Remote' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Termina Unit Spec</label>
                        <%= f.text_field :termina_unit_spec, class: "form-control", placeholder: 'Termina Unit Spec' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Design Code</label>
                        <%= f.text_field :design_code, class: "form-control", placeholder: 'Design Code' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Material FF Construction</label>
                        <%= f.text_field :material_ff_construction, class: "form-control", placeholder: 'Material FF Construction' %>
                    </div>
                    <div class="col">
                        <label class="control-label">Date 2</label>
                        <%= f.date_field :date2, class: "form-control" %>
                    </div>
                    <div class="col">
                        <label class="control-label">SCH</label>
                            <%= f.text_field :sch, class: "form-control", placeholder: 'SCH' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">General Spec</label>
                        <%= f.text_area :general_spec, class: "form-control", placeholder: 'General Spec', rows: 8 %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Note</label>
                        <%= f.text_area :note, class: "form-control", placeholder: 'Note', rows: 8 %> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-eye">
                            </i>
                                Validate
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>