<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">
                Edit Item
            </p>
		</div>

	</nav>
</div>
    
<div class="button-card">
	<section class="home-section2">
        <%= render 'form' %>
            <%= render 'layouts/modal' %>
                <%= link_to @item, style: "float: right;", class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-info-sign">
                    </span>
                        Show
        <% end %>
    </section>
</div>