<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Item</p>
		</div>
	</nav>
</div>
<section class="home-section2">
    <div class="card">
        <div class="card-body">
			<div class="row">
				<div class="col">
                    <%= link_to new_item_path, class: 'btn btn-primary' do %>
                        <span class="glyphicon glyphicon-plus">
                        </span>
                            New Item
                    <% end %>
                    <%= link_to import_items_path, class: 'btn btn-primary', remote: true do %>
                        <span class="glyphicon glyphicon-upload">
                        </span>
                            Import Items
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:80%">
                            <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Disipline</th>
                                        <th>Product</th>
                                        <th>Type</th>
                                        <th>Brand</th>
                                        <th>General Spec</th>
                                        <th>Price</th>
                                        <th>Name Vendor</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>			
                                <% if @log_activities1.present? %>
                                    <% @log_activities1.each_with_index do |item, index| %>
                                        <tr>
                                            <td><%= index+1 %></td>
                                            <td><%= item.namedisiplines.nil? ? "-" : item.namedisiplines %></td>
                                            <td><%= item.product_name.nil? ? "-" : item.product_name %></td>
                                            <td><%= item.name_type.nil? ? "-" : item.name_type %></td>
                                            <td><%= item.name_brand.nil? ? "-" : item.name_brand %></td>
                                            <td><%= item.general_spec.nil? ? "-" : item.general_spec %></td>
                                            <% @getLastPriceItems = PriceItem.left_outer_joins(:currency).where(item_id: item.iditems).select('*').order('price_items.date DESC').limit(1) %>
                                            <td><%= number_to_currency(@getLastPriceItems.first.price.to_s, :unit => "(#{@getLastPriceItems.first.current_name.to_s}) ") %></td>
                                            <td><%= item.namevendors.nil? ? "-" : item.namevendors %></td>
                                            <td><%= link_to '', items_show_dashboard_index_path(item.iditems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %></td>
                                            <td><%= link_to '', edit_item_path(item.iditems), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                            <td><%= link_to '', item_path(item.iditems), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                            <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Disipline</th>
                                        <th>Product</th>
                                        <th>Type</th>
                                        <th>Brand</th>
                                        <th>General Spec</th>
                                        <th>Price</th>
                                        <th>Name Vendor</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    <section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>
<% end %>