<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li>
      <li>Item</li>
      <li>Detail Item</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
  <div id="content">
    <div class="page-header">
    </div>
    <div class="page-header">
      <%= link_to :back, style: "float: right;", class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
      <%= link_to edit_item_path(@item), style: "float: right;", class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
      <h1>Detail item</h1>
    </div>
    <div class="page-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Detail Item
              </div>
              <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                  <tr>
                    <td colspan="2">Brand</td>
                    <td><%= @items.first.name_brand.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Disipline</td>
                    <td><%= @items.first.namedisiplines.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Type</td>
                    <td><%= @items.first.name_type.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Product</td>
                    <td><%= @items.first.product_name.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Delivery Point</td>
                    <td><%= @items.first.delivery_point.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Vendor</td>
                    <td><%= @items.first.namevendors.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Size</td>
                      <td><%= @items.first.size.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Class Item</td>
                    <td><%= @items.first.class_item.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Dimension</td>
                    <td><%= @items.first.dimension.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">General Spec</td>
                    <td><%= @items.first.general_spec.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Scope of Supply</td>
                    <td><%= @items.first.scope_of_supply.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Others</td>
                    <td><%= @items.first.others.try(:to_s) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">Note</td>
                    <td><%= @items.first.note.try(:to_s) %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
