<div class="item-title2">
    <div class="card">
	   	<p class="id">Form</p>
    </div>
</div>
<%= form_for(@referensi_item, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @referensi_item.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@referensi_item.errors.count, "error") %> prohibited this referensi_item from being saved:</h4>

            <ul>
            <% @referensi_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.label :name, class: "col-sm-2 control-label" %>
                        <%= f.text_field :name, class: "form-control", placeholder: 'Name Referensi Item' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.submit class: "btn btn-primary" %>
                        <%= link_to 'Cancel', referensi_items_path, class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>