
<div class="panel panel-default">
  <div class="panel-heading">Form Referensi</div>
    <div class="panel-body">
      <%= form_for(@referensi_item, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @referensi_item.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@referensi_item.errors.count, "error") %> prohibited this referensi_item from being saved:</h4>

            <ul>
            <% @referensi_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
