<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
      <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
          <i class="fa fa-refresh"></i>
        </span>
      </span>
          <!-- breadcrumb -->
              <ol class="breadcrumb">
                <li>Home</li>
                <li>Referensi items</li>
              </ol>
          <!-- end breadcrumb -->
  </div>
  <!-- END RIBBON -->
<% end %>
          <div id="content">
            <div class="page-header">
            </div>
            <div class="page-header">
              <%= link_to new_referensi_item_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-plus"></span>
                New Referensi item
              <% end %>
              <h1>Listing Referensi Items</h1>
            </div>
            <div class="page-header">
            </div>
            <div class="table-responsive">
              <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <%= content_tag_for(:tr, @referensi_items) do |referensi_item| %>
                  <td><%= referensi_item.name %></td>
                  <td><%= link_to '', referensi_item, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                  <td><%= link_to '', edit_referensi_item_path(referensi_item), class: 'fa fa-pencil btn btn-sm btn-warning', title: "Edit" %></td>
                  <td><%= link_to '', referensi_item, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete"  %></td>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          
            <script type="text/javascript">

                // DO NOT REMOVE : GLOBAL FUNCTIONS!

                $(document).ready(function () {

                    pageSetUp();

                    /* // DOM Position key index //

                    l - Length changing (dropdown)
                    f - Filtering input (search)
                    t - The Table! (datatable)
                    i - Information (records)
                    p - Pagination (paging)
                    r - pRocessing
                    < and > - div elements
                    <"#id" and > - div with an id
                    <"class" and > - div with a class
                    <"#id.class" and > - div with an id and class

                    Also see: http://legacy.datatables.net/usage/features
                    */

                    /* BASIC ;*/
                    var responsiveHelper_dt_basic = undefined;
                    var responsiveHelper_datatable_col_reorder = undefined;

                    var breakpointDefinition = {
                        tablet: 1024,
                        phone: 480
                    };

                    $('#datatable_col_reorder').dataTable({
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                        "autoWidth": true,
                        "oLanguage": {
                            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                        },
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_dt_basic) {
                                responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_dt_basic.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_dt_basic.respond();
                        }
                    });

                    /* END BASIC */

                    /* COLUMN SHOW - HIDE */
                    $('#datatable_col_reorder1').dataTable({
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                        "autoWidth": true,
                        "oLanguage": {
                            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                        },
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_col_reorder) {
                                responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder1'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_col_reorder.respond();
                        }
                    });

                    /* END COLUMN SHOW - HIDE */

                    

                })

                

            </script>