<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Referensi Item</p>
		</div>
	</nav>
</div>
<section class="home-section2">
    <div class="card">
        <div class="card-body">
			<div class="row">
				<div class="col">
                    <%= link_to new_referensi_item_path, class: 'btn btn-primary' do %>
                        <span class="glyphicon glyphicon-plus">
                        </span>
                            New Referensi item
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
						<thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
						</thead>
						<tbody>			
                                <%= content_tag_for(:tr, @referensi_items) do |referensi_item| %>
                                    <td><%= referensi_item.name %></td>
                                    <td><%= link_to '', referensi_item, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                                    <td><%= link_to '', edit_referensi_item_path(referensi_item), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                    <td><%= link_to '', referensi_item, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete"  %></td>
                                <% end %>
						</tbody>
						<tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
						</tfoot>
					</table>
                </div>
            </div>
        </div>
    <section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
