<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Referensi Item</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
    <div class="item-title2">
    </div>
		<div class="card">
			<div class="card-header">
                Detail Referensi Item
                <%= link_to edit_referensi_item_path(@referensi_item), style: "float: right;", class: 'btn btn-success' do %>
                    <span class="fa fa-pencil">
                    </span>
                        Edit
                <% end %>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Name
                    </p>
                    <footer class="blockquote-footer">
                        <div class="btn btn-outline-primary"> 
                            <%= @referensi_item.name %>
                        </div>
                    </footer>
                </blockquote>
            </div>
            <%= link_to referensi_items_path, style: "float: right;", class: 'btn btn-secondary' do %>
                <span class="glyphicon glyphicon-list-alt">
                </span>
                    Back
            <% end %>
        </div>
    </section>
</div>