<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li>
      <li>Referensi Item</li>
      <li>Show Referensi Item</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
    <div id="content">
      <div class="page-header">
      </div>
      <div class="page-header">
        <%= link_to edit_referensi_item_path(@referensi_item), style: "float: right;", class: 'btn btn-success' do %>
          <span class="fa fa-pencil"></span>
          Edit
        <% end %>
        <%= link_to referensi_items_path, style: "float: right;", class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
        <% end %>
        <h1>Show referensi_item</h1>
      </div>
        <div class="page-header">
            <div class="panel-body">
              <table class="table table-bordered table-striped table-hover">
                <tbody>
                <tr>
                  <td>Name:</td>
                  <td><%= @referensi_item.name %></td>
                </tr>
                </tbody>
              </table>

            </div>
        </div>
    <div>
  </div>
