<div class="item-title2">
    <div class="card">
	   	<p class="id">Form</p>
    </div>
</div>
<%= form_for @country, html: {class: 'form-horizontal'} do |f| %>
    <% if @country.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

          <ul>
            <% @country.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.label :country_code %>
                        <%= f.text_field :country_code, class: 'form-control', placeholder: 'Country Code' %>
                    </div>
                    <div class="col">
                        <%= f.label :country_name %>
                        <%= f.text_field :country_name, class: 'form-control', placeholder: 'Country Name' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= link_to 'Cancel', countries_path, class: 'btn btn-danger' %>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>