<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">
        Edit Country
      </p>
		</div>

	</nav>
</div>
    
<div class="button-card">
	<section class="home-section2">
      <%= render 'form', country: @country %>
      <%= link_to (@country), style: "float: right;", class: 'btn btn-success' do %>
        <span class="fa fa-eye">
        </span>
          Show
      <% end %>
  </section>
</div>