<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Country</p>
		</div>
	</nav>
</div>
<section class="home-section2">
  <div class="card">
    <div class="card-body">
			<div class="row">
				<div class="col">
          <%= link_to new_country_path, class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus">
              </span>
                New Country
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
						      <thead>
                                <tr>
                                    <th>Country code</th>
                                    <th>Country name</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
						      </thead>
						      <tbody>			
							                <% @countries.each do |country| %>
                                <tr>
                                <td><%= country.country_code %></td>
                                <td><%= country.country_name %></td>
                                <td><%= link_to '', country, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                                <td><%= link_to '', edit_country_path(country), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                <td><%= button_to '', country, method: :delete, data: {confirm: 'Are you sure?'}, form_class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete", onclick: "return confirm('Are you sure?')" %></td>
                                </tr>
                              <% end %>
						      </tbody>
						      <tfoot>
                                <tr>
                                    <th>Country code</th>
                                    <th>Country name</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
						        </tfoot>
					      </table>
              </div>
            </div>
        </div>
    <section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>

<% end %>
