<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Country</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
    <div class="item-title2">
    </div>
		<div class="card">
			<div class="card-header">
                Detail Country
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Country code:
                    </p>
                    <footer class="blockquote-footer">
                        <div class="btn btn-outline-primary"> 
                            <%= @country.country_code %>
                        </div>
                    </footer>
                </blockquote>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Country Name:
                    </p>
                    <footer class="blockquote-footer">
                        <div class="btn btn-outline-primary"> 
                            <%= @country.country_name %>
                        </div>
                    </footer>
                </blockquote>
            </div>
            <%= link_to countries_path, style: "float: right;", class: 'btn btn-secondary' do %>
                <span class="glyphicon glyphicon-list-alt">
                </span>
                    Back
            <% end %>
        </div>
    </section>
</div>