<div class="item-title2">
    <div class="card">
		<p class="id">
            Form
        </p>
    </div>
</div>
<%= form_for @unit, html: {class: 'form-horizontal'} do |f| %>
    <% if @unit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

          <ul>
            <% @unit.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <%= f.label :unit_name %>
                            <%= f.text_field :unit_name, class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <%= link_to 'Cancel', units_path, class: 'btn btn-danger' %>
                        </div>
                    </div>
                </div>

            </div>
        </div>

<% end %>