<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Update Roles</p>
		</div>
	</nav>
</div>
<div class="button-card">
	<section class="home-section2">  
    <%= render 'form', unit: @unit %>
    <%= link_to (@unit), style: "float: right;", class: 'btn btn-success' do %>
      Show
    <% end %>
	</section>
</div>

