:root {
  --card-height: 180px;
  --card-width: calc(var(--card-height) / 1.4);
}
.cd {

  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  margin-bottom: 20px;
  border-radius: 10%; /* menambahkan border-radius untuk membuat bentuk bulat */
  overflow: hidden; /* menambahkan overflow hidden untuk menghilangkan bagian elemen yang keluar dari border-radius */
}
.text {
  top: 0;
  font-size: 20px;
  font-family: 'Shantell Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wwp {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}



.cd:hover .wwp {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wwp::before,
.wwp::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wwp::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(255, 255, 255, 0.5) 68%,
    rgb(255, 255, 255) 97%
  );
}
.wwp::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(255, 255, 255, 0.5) 68%,
    rgb(215, 208, 208) 97%
  );
}

.cd:hover .wwp::before,
.wwp::after {
  opacity: 1;
}

.cd:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.cd:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
  height: 50%;
}

.cd:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}


/* tulisan bergerak */


