
  .tabs {
    position:absolute;
    top:56%;
    left:52%;
    transform:translate(-50%,-50%);
    width:80%;
    height:70%;
    background:#ffffff;
    padding:20px 30px;
    overflow-y: scroll;
    border-radius:50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .tabs::-webkit-scrollbar {
    width: 8px;
  }

  .tabs::-webkit-scrollbar-thumb {

    border-radius: 20px;
  }

  .tabs::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  .tabs .tab-header {
    height:60px;
    display:flex;
    align-items:center;
  }
  .tabs .tab-header > div {
    width:calc(100% / 2);
    text-align:center;
    color:#888;
    font-weight:600;
    cursor:pointer;
    font-size:14px;
    text-transform:uppercase;
    outline:none;
  }
  .tabs .tab-header > div > i {
    display:block;
    margin-bottom:5px;
  }
  .tabs .tab-header > div.active {
    color:#00acee;
  }
  .tabs .tab-indicator {
    position:relative;
    width:calc(100% / 2);
    height:5px;
    background:#00acee;
    left:0px;
    border-radius:5px;
    transition:all 500ms ease-in-out;
  }
  .tabs .tab-body {
    position:relative;
    height:calc(100% - 60px);
    padding:10px 5px;
  }
  .tabs .tab-body > div {
    position:absolute;
    top:-200%;
    opacity:0;
    transform:scale(0.9);
    transition:opacity 500ms ease-in-out 0ms,
      transform 500ms ease-in-out 0ms;
  }
  .tabs .tab-body > div.active {
    top:0px;
    opacity:1;
    transform:scale(1);
  }

  .active{
    margin-top: 0px;
  }