body {
  top:0;
  
}
.loginn {
  height: 100%;
  width: 100%;
}
.loginn img{
  height: 100%;
  width: 100%;
  transform: scaleX(50%,50%);
  position: fixed;
  background-size: cover;
  margin-top: 0px;
}
.loginn2{
  position: absolute;
  width: 200px;
  top: 20%;
  margin-left: 60px;
}
.pgnlogo2{
width: 60vh;

}
.pgnlogo{
width: 200px;
height: 80px;
box-shadow: 0px 3px 10px rgba(241, 242, 245, 0.007);
margin-bottom: 10px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 400px;
  padding: 10px 40px 40px 40px;
  transform: translate(-50%, -50%);
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 20px;
  
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #585959;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fcffff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  background: #195d9d;
  display: inline-block;
  padding: 10px 20px;
  color: #fcfcfc;
  font-size: 16px;
  height: 45px;
    border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px

  
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
              transform: scale(1.2);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}



@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/* Style untuk form login pada ukuran layar yang lebih kecil dari 480px */
@media only screen and (max-width: 479px) {
  .login-box {
    left: 50%;
    width: 45vh;
    margin-top: 4vh;
    background: linear-gradient(60deg, rgba(234, 219, 219, 0.13) 0%, rgba(129, 129, 129, 0.1) 100%);
  }

  #logo img {
    width: 80px;
    margin-bottom: 10px;
    
  }

  .user-box input {
    font-size: 12px;
}

    #signin-btn {
    padding: 6px 16px;
    font-size: 12px;
    border-radius: 20px;
    }
    #signin-btn p{
    margin-top: 7px;
    }
    .loginn2{
      position: relative;
    }
    .loginn2 .pgnlogo2{
      width: 20vh;
      margin-top: 6vh;
      margin-left: auto;
      margin-right: auto;
    }

}

/* Style untuk form login pada ukuran layar yang lebih kecil dari 821px */
@media only screen and (max-width: 921px) {
  .login-box {
    left: 50%;
    width: 45vh;
    margin-top: 4vh;
    background: linear-gradient(60deg, rgba(234, 219, 219, 0.13) 0%, rgba(129, 129, 129, 0.1) 100%);
  }

  #logo img {
    width: 80px;
    margin-bottom: 10px;
    
  }

  .user-box input {
    font-size: 12px;
}

    #signin-btn {
    padding: 6px 16px;
    font-size: 12px;
    border-radius: 20px;
    }
    #signin-btn p{
    margin-top: 7px;
    }
    .loginn2{
      position: relative;
    }
    .loginn2 .pgnlogo2{
      width: 20vh;
      margin-top: 6vh;
      margin-left: auto;
      margin-right: auto;
      
    }

}
