.content456 {
  position: relative;
  max-width: 1024px;
  width: 80vw;
  padding: 0 4%;
  padding-top: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  z-index: 2;
  top: 2vh;
}

@media screen and (min-width: 768px) {
  .content456 {
    width: 70vw;
    margin-left: 10vw;
  }
}

@media screen and (min-width: 1024px) {
  .content456 {
    width: 60vw;
    margin-left: 20vw;
  }
}

@media screen and (max-width: 767px) {
  .content456 {

    flex-direction: column;
  }
}

.card456 {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 220px;
  /*background-color: #292929;*/
  background-color: transparent;

  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon456 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  /*background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);*/
  background: linear-gradient(90deg, #fff 0%, #fff 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbab18;
  /*color: white;*/

  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.card456 .title456 {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card456 .text456 {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card456:hover {
  height: 270px;
}

.card456:hover .info {
  height: 90%;
}

.card456:hover .text456 {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card456:hover .icon456 {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card456:hover .icon456 i {
  background: linear-gradient(90deg, #FF7E7E, #FF4848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

.sidebar.open~.content456 {
  left: 90px;
  width: calc(90% - 9px);
}