/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar:hover {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar:hover .logo-details .icon,
.sidebar:hover .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar:hover .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);

}

.sidebar:hover li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar:hover input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar:hover .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}


.sidebar:hover li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #1200d4;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar:hover li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar:hover .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 6vh;
  top: 0%;
  left: 78px;
  width: 100%;
  margin-bottom: 0;
  transition: all 0.7s ease;

  @media (max-width: 768px) {}

  @media (max-width: 480px) {}

  @media (min-width: 576px) {}

  @media (min-width: 992px) {}

  @media (min-width: 1200px) {}

}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 115px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}


.footer-section {
  position: fixed;
  background: #11101D;
  height: 28px;
  bottom: 0;
  left: 78px;
  margin-top: 30px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;

}

.sidebar.open~.footer-section {
  left: 250px;
  width: calc(100% - 250px);
}

.footer-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}


@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/*Logo Atas navar*/
.logo_pgasol {
  position: relative;
  height: 50px;
  margin-left: 90px;
  transition: all 0.5s ease;
  z-index: 2;
}


.sidebar.open~.logo_pgasol {
  left: 250px;
  margin-left: 0px;
  width: calc(30%);
}

/*Submenu*/



.submenu .dropdown {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 0px;
  left: 100%;
  width: 170px;
  background-color: #11101D;
  border-radius: 10px;
}

.submenu:hover .dropdown {
  display: block;
}

.submenu .dropdown li {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.submenu .dropdown li:hover {
  background: #000;
  color: #000;

}

.submenu .dropdown li a:hover i {
  transition: all 0.5s ease;
  color: #1200d4;
}

.psub {

  font-size: 12px;
  font-weight: 400px;
  white-space: nowrap;
  pointer-events: none;
  transition: 0.4s;
  opacity: 1;
  pointer-events: auto;
  align-items: center;
}


/*Sub Menu Sub Menu*/
.submenu2 .dropdown2 {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 0px;
  left: 100%;
  width: 170px;
  background-color: #000;
  border-radius: 1px;
  overflow-y: scroll;
  max-height: 240px;
}


.submenu .dropdown .submenu2 .dropdown2::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background-color: #fff;
}

.submenu .dropdown .submenu2 .dropdown2::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.submenu .dropdown .submenu2:hover .dropdown2 {
  display: block;
}

.submenu .dropdown .submenu2 .dropdown2 li {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.submenu2 .dropdown2 li:hover {
  background: #000;
  color: #000;

}

.submenu2 .dropdown2 li a:hover i {
  transition: all 0.5s ease;
  color: #1200d4;
}

/*Submenu*/



/*Search*/


.search-form {
  position: absolute;
  margin-top: 30px;
  margin-left: 100px;
  right: 0px;
  width: 300px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-30%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 245px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}

.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}

.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
  width: 50;

}

.search-option div span::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -8%;
  transform: translateX(-50%);
  border-top: 4px solid transparent;
  border-left: 4px solid #036feb;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.search-option div:hover span {
  opacity: 1;
  top: 0px;
  left: 49px;
}

.search-option div label {
  display: block;
  cursor: pointer;
}

.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.search-option div:hover svg {
  opacity: 1;
}

.search-option div input:checked+label svg {
  fill: #e24040;
  opacity: 0.9;
}

.search-option div input:checked+label span {
  background: #e24040;
}

.search-option div input:checked+label span::after {
  border-top-color: #e24040;
}

/*Search*/
.footer-text {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 20px;
  color: #FFF;
}

/*Search*/

/* Navbar*/
.navbar {
  justify-content: unset !important;
  width: 100%;
}

/* Navbar*/


/* listmenus*/
.search-option div .list-usermenu {
  position: absolute;
  display: block;
  text-align: center;
  left: 20%;
  transform: translateX(-50%);
  opacity: 0;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
  width: 50;

}

.search-option div .list-usermenu::after {
  position: absolute;
  bottom: 7px;
  left: -8%;
  transform: translateX(-50%);
  border-top: 4px solid transparent;
  border-left: 4px solid #036feb;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.search-option div:hover .list-usermenu {
  opacity: 1;
  top: -20px;
  left: -120px;
}


/* listmenus*/

/* Profile*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

.center {
  position: relative;
  top: 50px;
  left: 40px;
  height: 259px;
  width: 200px;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.profile {
  float: left;
  width: 200px;
  height: 320px;
  text-align: center;
}

.profile .image {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 38px auto 0 auto;
}

.profile .image .circle-1,
.profile .image .circle-2 {
  position: absolute;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #786450 #786450 #786450 transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}

.profile .image .circle-2 {
  width: 82px;
  height: 82px;
  top: -6px;
  left: -6px;
  border-color: #786450 transparent #786450 #786450;
}

.profile .image img {
  display: block;
  border-radius: 50%;
  background: #F5E8DF;
}

.profile .image:hover {
  cursor: pointer;
}

.profile .image:hover .circle-1,
.profile .image:hover .circle-2 {
  transform: rotate(360deg);
}

.profile .image:hover .circle-2 {
  transform: rotate(-360deg);
}

.profile .name3456 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  color: #000;
}

.profile .job123 {
  font-size: 11px;
  line-height: 15px;
  color: #000;
}

.profile .actions {
  margin-top: 33px;
}

.profile .actions .btn {
  display: block;
  width: 120px;
  height: 30px;
  margin: 0 auto 10px auto;
  background: none;
  border: 1px solid #786450;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: #786450;
}

.profile .actions .btn:hover {
  background: #786450;
  color: #fff;
}

/* Profile*/
/* home-section*/

.home-section2 {
  border-radius: 20px;
  position: relative;
  background: #ffffff;
  margin-top: 2px;
  top: 0;
  flex-wrap: wrap;
  left: 120px;
  width: 86vw;
  transition: all 0.7s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -5px, 0);
}

.sidebar.open~.home-section2 {
  left: 240px;
  width: calc(100%);
}

.home-section2 .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

/* home-section*/

/* content*/
.content34 {
  position: relative;
  margin-left: 0px;
  max-width: 1040px;
}

/* content*/
/* content*/
body {
  margin: 0;
  padding: 0;

}

.bg-home {
  position: absolute;
  top: 30;
  left: 0;
  width: 100vw;
  height: 90vh;

}

/* content*/

.button-card {
  margin-bottom: 30px;
}

.header-title {
  margin-top: 2px;
  margin-bottom: 14px;
  min-height: 6vh;
  width: 100%;
}

.header-title3 {
  margin-top: 1px;
  margin-bottom: 0px;
  min-height: 6vh;
  width: 100%;
}


.item-title p {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-left: 90px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(132, 130, 130, 0.5);
}

.item-title2 .card p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(132, 130, 130, 0.5);
}


/* home-section*/

.home-section3 {
  border-radius: 20px;
  position: relative;
  margin-top: 2px;
  top: 0;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  transition: all 0.7s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -5px, 0);
}

.sidebar.open~.home-section3 {
  left: 240px;
  width: calc(100%);
}

.home-section3 .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

/* home-section*/

/* Responsive*/

@media only screen and (max-width: 479px) {
  .search-form {
    width: 130px;
  }

  .footer-section {
    max-width: 100%;
  }

  .home-section2 {
    left: 8vh;
  }


}


@media only screen and (max-width: 594px) {
  .search-form {
    width: 130px;
  }

  .footer-section {
    max-width: 100%;
  }
}