<div class="item-title2">
    <div class="card">
	   	<p class="id">Form</p>
    </div>
</div>
<%= form_for @brand, html: {class: 'form-horizontal'} do |f| %>
    <% if @brand.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

          <ul>
            <% @brand.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <%= f.label :name_brand %>
                        <%= f.text_field :name_brand, class: 'form-control', placeholder: 'Name Brand' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <%= link_to 'Cancel', brands_path, class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>