<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Brands</p>
		</div>
	</nav>
</div>
<section class="home-section2">
    <div class="card">
        <div class="card-body">
			<div class="row">
				<div class="col">
                    <%= link_to new_brand_path, class: 'btn btn-primary' do %>
                        <span class="glyphicon glyphicon-plus">
                        </span>
                            New Brand
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="button-card">
    <section class="home-section2"> 
		<div class="card">
			<div class="card-body">
                <div class="table-responsive">      
                    <table id="example" class="table table-striped table-bordered table-hover table-borderless" style="width:100%">
                            <thead>
                                    <tr>
                                        <th>Name brand</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>			
                                <% @brands.each do |brand| %>
                                    <tr>
                                        <td><%= brand.name_brand %></td>
                                        <td><%= link_to '', brand, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                                        <td><%= link_to '', edit_brand_path(brand), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %></td>
                                        <td><%= link_to '', brand, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                            <tfoot>
                                    <tr>
                                        <th>Name brand</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    <section>
</div>
<% content_for :scripts do %>
  <script>
    var table = $('#example').DataTable();
  </script>
<% end %>