<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Admin Panel</li>
      <li>Item Management</li>
      <li>Brand Lists</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
<div id="content">
  <div class="page-header">
  </div>
  <div class="page-header">
    <%= link_to new_brand_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Brand
    <% end %>
    <h1>Listing Brands</h1>
  </div>
  <div class="page-header">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
      <!-- widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      data-widget-sortable="false"

      -->
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      </header>

      <!-- widget div-->
      <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->

        </div>
        <div class="table-responsive">
          <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
              <th>Name brand</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% @brands.each do |brand| %>
              <tr>
                <td><%= brand.name_brand %></td>
                <td><%= link_to '', brand, class: 'fa fa-eye btn btn-sm btn-success', title: "Show" %></td>
                <td><%= link_to '', edit_brand_path(brand), class: 'fa fa-pencil btn btn-sm btn-warning', title: "Edit" %></td>
                <td><%= link_to '', brand, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () {

          pageSetUp();

          /* // DOM Position key index //

           l - Length changing (dropdown)
           f - Filtering input (search)
           t - The Table! (datatable)
           i - Information (records)
           p - Pagination (paging)
           r - pRocessing
           < and > - div elements
           <"#id" and > - div with an id
           <"class" and > - div with a class
           <"#id.class" and > - div with an id and class

           Also see: http://legacy.datatables.net/usage/features
           */

          /* BASIC ;*/
          var responsiveHelper_dt_basic = undefined;
          var responsiveHelper_datatable_col_reorder = undefined;

          var breakpointDefinition = {
              tablet: 1024,
              phone: 480
          };

          $('#dt_basic').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_dt_basic) {
                      responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_dt_basic.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_dt_basic.respond();
              },
              "scrollY": "258px",
              "scrollCollapse": true
          });

          /* END BASIC */

          /* COLUMN SHOW - HIDE */
          $('#datatable_col_reorder').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_col_reorder) {
                      responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_col_reorder.respond();
              }
          });

          /* END COLUMN SHOW - HIDE */

      })

  </script>
<% end %>

