<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">Show Brand</p>
		</div>
	</nav>
</div>

<div class="button-card">
    <section class="home-section2"> 
    <div class="item-title2">
    </div>
		<div class="card">
			<div class="card-header">
                Detail Brand
                <%= link_to edit_brand_path(@brand), style: "float: right;", class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                        Edit
                <% end %>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Name brand:
                    </p>
                    <footer class="blockquote-footer">
                        <div class="btn btn-outline-primary"> 
                            <%= @brand.name_brand %>
                        </div>
                    </footer>
                </blockquote>
            </div>
            <%= link_to brands_path, style: "float: right;",class: 'btn btn-secondary' do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                    Back
            <% end %>
        </div>
    </section>
</div>