<aside id="left-panel">
      <%= image_tag 'dhs-logo.png', alt: 'SmartAdmin', style: "width: 100%;" %>
      <hr style="border: 0.2px solid black;">
  <h4><%= current_user.name %></h4>
  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <%= left_menu %>
      <li class="chat-users top-menu-invisible">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-windows"></i>
          <span class="menu-item-parent"><%= _('Items') %> <sup><%= _('data') %></sup></span>
          <% if current_page?(items_path) %>
            <b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b>
          <% else %>
            <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
          <% end %>
        </a>
        <ul style="<%= 'display: block' if current_page?(smart_chat_api_path) %>">
          <li>
            <!-- DISPLAY USERS -->
            <div class="display-users">

              <% @disipline = Disipline.all() %>
              <% @disipline.each do |f| %>
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label"> <%= f.name %> <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
              <ul>
                <% @getProduct = Product.left_outer_joins(:disipline).where(disipline_id: f.id).select('*, products.id AS product_id') %>
                <% @getProduct.each do |f| %>
                  <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                      <span class="nav-label"> <%= f.product_name %> <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                    <ul>
                      <% @getType = Type.left_outer_joins(:disipline).where('product_id = ? and disipline_id = ?', f.product_id, f.disipline_id).select('name_type, types.id AS type_id').group('types.id') %>
                      <% @getType.map do |f| %>
                        <li
                          <% if current_page?(getItemsData_dashboard_index_path(f.type_id))
                               concat "class='active'".html_safe
                             end
                          %>
                        >
                          <a href="<%= getItemsData_dashboard_index_path(f.type_id) %>" title="<%= f.name_type %>"><span class='menu-item-parent'><%= f.name_type %></span></a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          </div>
          <!-- END DISPLAY USERS -->
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-windows"></i>
          <span class="menu-item-parent">Daftar Harga Satuan</sup></span>
          <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
        </a>
            <ul>
                <li>
                  <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                  <span class="nav-label">Construction<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                      <%= link_to index_jasakonstruksi_rokankonstruksi_jasakonstruksi_rokankonstruksi_path(42), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Construction</span></a>
                      <% end %>
                    </li>
                    <!--
                    # <li>
                    #   <%= link_to index_jasakonstruksi_rokanelkons_jasakonstruksi_rokanelkon_path(42), class: 'dropdown-toggle' do %>
                    #     <span class="nav-label">Rokan Elkon</span></a>
                    #   <% end %>
                    # </li>
                    -->
                  </ul>
                </li>
                <li>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Jargas<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                      <%= link_to index_jargas_instruments_jargas_instrument_path(43), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Instrument</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_jargas_pipline_jargas_pipeline_path(43), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Pipeline</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_jargas_jasakonstruksi_jargas_jasakonstruksi_path(43), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Jasa Konstruksi</span></a>
                      <% end %>
                    </li>
                  </ul>
                </li>
                <li>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Instrument<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                      <%= link_to index_instrumen_field_instrument_field_path(5), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Field Instrument</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_instrumen_valve_instrument_valf_path(5), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Instrument Valve</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_instrumen_fire_instrument_fire_path(5), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Fire and Gas</span></a>
                      <% end %>
                    </li>
                    
                    <li>
                      <%= link_to index_instrumen_metering_instrument_matering_path(5), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Matering System</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_instrumen_icss_instrument_icsss_path(5), class: 'dropdown-toggle' do %>
                        <span class="nav-label">ICS</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_instrumen_miscellaneous_instrument_miscellaneouss_path(5), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Miscellaneous</span></a>
                      <% end %>
                    </li>
                  
                  </ul>
                </li>
                <li>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Pipeline<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                    
                      <%= link_to index_pipeline_linepipe_pipeline_linepipe_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Linepipe</span></a>
                      <% end %>
                    </li>
                    <li>        
                      <%= link_to index_pipeline_insulation_pipeline_insulation_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Insulation Joint</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_pipeline_barred_pipeline_barred_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Barred Tee</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_pipeline_valve_pipeline_valf_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Valve</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_pipeline_hot_pipeline_hot_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Hot Induction Bend</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_pipeline_flange_pipeline_flange_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Anchor Flange</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_pipeline_fjc_pipeline_fjc_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">FJC</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_pipeline_spacels_pipeline_spacel_path(1), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Spacel & END Seal</span></a>
                      <% end %>
                    </li>
                  </ul>
                </li>
                <li>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Mechanical<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                      <%= link_to index_mechanical_mechanical_path(3), class: 'dropdown-toggle' do %>
                          <span class="nav-label">Mechanical</span>
                        <% end %>
                    </li>
                  </ul>
                </li>
                <li>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Piping<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                        <%= link_to index_pip_pipingpipe_path(4), class: 'dropdown-toggle' do %>
                          <span class="nav-label">Pipe</span>
                        <% end %>
                    </li>
                    <li>
                      <%= link_to index_fit_pipingfiting_path(4), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Fiting</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_gasket_pipinggasket_path(4), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Gasket</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_bolts_pipingbolt_path(4), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Bolt And Nut</span></a>
                      <% end %>
                    </li>
                    
                    <li>
                      <%= link_to index_valves_pipingvalf_path(4), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Valves</span></a>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to index_spitems_pipingspitem_path(4), class: 'dropdown-toggle' do %>
                        <span class="nav-label">SP Item</span></a>
                      <% end %>
                    </li>
                    
                  </ul>
                </li>
                <li>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Civil<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                  
                    <li>
                      <%= link_to index_civilmaterial_civilmaterial_path(21), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Civil Material</span></a>
                      <% end %>
                    </li>
                   
                    <li>
                      <%= link_to index_civiljasa_civiljasa_path(21), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Civil Jasa</span></a>
                      <% end %>
                    </li>
                  </ul>
                </li>
                <li>
               
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label">Elektrical<b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                  <ul>
                    <li>
                      <%= link_to index_elektrikal_elektrikal_path(22), class: 'dropdown-toggle' do %>
                        <span class="nav-label">Elektrical</span></a>
                      <% end %>
                    </li>
                  </ul>
                </li>
            </ul>
      </li>
    </ul>
  </nav>
  <span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
