<% if current_user.roles.map(&:name).include?('Superadmin') %>
<div class="sidebar">
	<div class="logo-details">
		<%= image_tag 'imgnew/dhs4.png', alt: 'SmartAdmin', class: 'icon' %>
		<div class="logo_name">DHS</div>
		<i class='bx bx-menu' id="btn"></i>
	</div>
	<ul class="nav-list">
		<!--
					<li>
						<i class='bx bx-search'></i>
						<form action="<%= items_search_dashboard_index_path %>">
						<% @getAllItems = Item.all %>
						<input id="search-fld" type="text" name="param" placeholder="Search Item">
						<span class="tooltip">Search</span>
						<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"></a>
						</form>
					</li>
					-->

		<li>
			<span class="links_name" style="color: white; font-size:10px;font-weight: 400;">Menu</span>
		</li>
		<li>
			<%= link_to root_path do %>
			<i class='bx bx-home'></i>
			<span class="links_name">Home</span>
			<% end %>
			<span class="tooltip">Home</span>
		</li>
		<li class="submenu">
			<a href="#">
				<i class='bx bx-dollar'></i>
				<span class="links_name">Database Harga Satuan</span>
			</a>
			<ul class="dropdown">
				<li class="submenu2">
					<%= link_to index_jasakonstruksi_rokankonstruksi_jasakonstruksi_rokankonstruksi_path(42) do %>
					<p class="psub">Construction</p>
					<% end %>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Jargas</p>
					</a>
					<ul class="dropdown2">
						<li>
							<p class="psub">
								<%= link_to index_jargas_instruments_jargas_instrument_path(43) do %>
								Instrument
								<% end %>
							</p>
						</li>
						<li>
							<%= link_to index_jargas_pipline_jargas_pipeline_path(43) do %>
							<p class="psub">Pipeline</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_jargas_jasakonstruksi_jargas_jasakonstruksi_path(43) do %>
							<p class="psub">
								Jasa Konstruksi
							</p>
							<% end %>
						</li>
					</ul>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Instrument</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_instrumen_field_instrument_field_path(5) do %>
							<p class="psub">Field Instrument</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_valve_instrument_valf_path(5) do %>
							<p class="psub">Instrument Valve</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_fire_instrument_fire_path(5) do %>
							<p class="psub">Fire And Gas</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_metering_instrument_matering_path(5) do %>
							<p class="psub">Matering System</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_icss_instrument_icsss_path(5) do %>
							<p class="psub">Ics</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_miscellaneous_instrument_miscellaneouss_path(5) do %>
							<p class="psub">Miscellaneous</p>
							<% end %>
						</li>

					</ul>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Pipeline</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_pipeline_linepipe_pipeline_linepipe_path(1) do %>
							<p class="psub">LinePipe</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_insulation_pipeline_insulation_path(1) do %>
							<p class="psub">Insulation Join</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_barred_pipeline_barred_path(1) do %>
							<p class="psub">Barred Tee</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_valve_pipeline_valf_path(1) do %>
							<p class="psub">Valve</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_hot_pipeline_hot_path(1) do %>
							<p class="psub">Hot Induction Bend</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_flange_pipeline_flange_path(1) do %>
							<p class="psub">Anchor Flange</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_fjc_pipeline_fjc_path(1) do %>
							<p class="psub">FJC</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_spacels_pipeline_spacel_path(1) do %>
							<p class="psub">Spacel & END Seal</p>
							<% end %>
						</li>
					</ul>

				</li>
				<li class="submenu2">
					<%= link_to index_mechanical_mechanical_path(3) do %>
					<p class="psub">Mechanical</p>
					<% end %>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Piping</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_pip_pipingpipe_path(4) do %>
							<p class="psub">Pipe</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_fit_pipingfiting_path(4) do %>
							<p class="psub">Fiting</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_gasket_pipinggasket_path(4) do %>
							<p class="psub">Gasket</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_bolts_pipingbolt_path(4) do %>
							<p class="psub">Bolt And Nut</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_flanges_piping_flange_path(4) do %>
							<p class="psub">Flange</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_valves_pipingvalf_path(4) do %>
							<p class="psub">Valves</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_spitems_pipingspitem_path(4) do %>
							<p class="psub">SP Item</p>
							<% end %>
						</li>

					</ul>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Civil</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_civilmaterial_civilmaterial_path(21) do %>
							<p class="psub">Civil Material</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_civiljasa_civiljasa_path(21) do %>
							<p class="psub">Civil Jasa</p>
							<% end %>
						</li>
					</ul>
				</li>
				<li class="submenu2">
					<%= link_to index_elektrikal_elektrikal_path(22) do %>
					<p class="psub">Elektrical</p>
					<% end %>
				</li>

			</ul>

		</li>
		<li class="submenu">
			<a href="#">
				<i class='bx bx-line-chart'></i>
				<span class="links_name">Price Analysis</span>
			</a>
			<span class="tooltip">Price Analysis</span>
			<ul class="dropdown">
				<li class="submenu2">
					<%= link_to price_analysis_index_path do %>
					<p class="psub">Price Analysis</p>
					<% end %>
				</li>

				<li class="submenu2">
					<%= link_to inflasis_index_path do %>
					<p class="psub">Inflasi</p>
					<% end %>
				</li>

			</ul>
		</li>

		<li class="submenu">
			<a href="#">
				<i class='bx bx-user'></i>
				<span class="links_name">Admin Panel</span>
			</a>
			<ul class="dropdown">
				<li class="submenu2">
					<a href="#">
						<p class="psub">User Management</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to roles_path do %>
							<p class="psub">Roles</p>
							<% end %>
						</li>
						<li>
							<%= link_to users_path do %>
							<p class="psub">Users</p>
							<% end %>
						</li>
					</ul>
				</li>

				<li class="submenu2">
					<a href="#">
						<p class="psub">Data Master</p>
						<ul class="dropdown2">
							<li>
								<%= link_to countries_path do %>
								<p class="psub">COO</p>
								<% end %>
							</li>
							<li>
								<%= link_to units_path do %>
								<p class="psub">Units</p>
								<% end %>
							</li>
							<li>
								<%= link_to vendors_path do %>
								<p class="psub">Vendors</p>
								<% end %>
							</li>
							<li>
								<%= link_to brochures_path do %>
								<p class="psub">Brocure</p>
								<% end %>
							</li>
							<li>
								<%= link_to price_letters_path do %>
								<p class="psub">Price Letters</p>
								<% end %>
							</li>
						</ul>
					</a>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Item Management</p>
						<ul class="dropdown2">
							<li>
								<%= link_to referensi_items_path do %>
								<p class="psub">References</p>
								<% end %>
							</li>
							<li>
								<%= link_to disiplines_path do %>
								<p class="psub">Disipline</p>
								<% end %>
							</li>
							<li>
								<%= link_to brands_path do %>
								<p class="psub">Brands</p>
								<% end %>
							</li>
							<li>
								<%= link_to items_path do %>
								<p class="psub">Items</p>
								<% end %>
							</li>
							<li>
								<%= link_to price_items_path do %>
								<p class="psub">Price Items</p>
								<% end %>
							</li>
							<li>
								<%= link_to types_path do %>
								<p class="psub">Types</p>
								<% end %>
							</li>

						</ul>
					</a>
				</li>
				<li>
					<%= link_to user_activities_path do %>
					<p class="psub">User Activities</p>
					<% end %>
				</li>
			</ul>
		</li>
		<li>
			<%= link_to faq_index_path do %>
			<i class='bx bx-question-mark'></i>
			<span class="links_name">FAQ</span>
			<% end %>
			<span class="tooltip">FAQ</span>
		</li>

		<li class="profile">
			<div class="profile-details">
				<!--<img src="profile.jpg" alt="profileImg">-->
				<div class="name_job">
					<div class="name">Username</div>
					<div class="job">Super Admin</div>
				</div>
			</div>
			<span>
				<%= link_to(destroy_user_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'}) do %>
				<i class='bx bx-log-out' id="log_out"></i>
				<% end %>
			</span>
		</li>
	</ul>
</div>


<div class="navbar navbar-expand-lg navbar-light bg-white">
	<%= image_tag 'imgnew/logo_pgasol.png', alt: 'SmartAdmin', class: 'logo_pgasol' %>
	<form action="<%= items_search_dashboard_index_path %>" class="search-form">
		<% @getAllItems = Item.all %>
		<input id="search-fld" type="search" name="param" placeholder="Search" class="search-input">
		<button type="submit" class="search-button">
			<svg class="submit-button">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
			</svg>
		</button>
		<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"></a>
		<div class="search-option">
			<div>

				<input name="type" type="radio" value="type-users" id="type-users">
				<label for="type-users">
					<svg class="edit-pen-title">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
					</svg>
					<span>Username</span>
				</label>
			</div>
		</div>
	</form>
	<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
		<symbol id="search" viewBox="0 0 32 32">
			<path
				d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
		</symbol>
		<symbol id="user" viewBox="0 0 32 32">
			<path
				d="M 16 4 C 12.145852 4 9 7.1458513 9 11 C 9 13.393064 10.220383 15.517805 12.0625 16.78125 C 8.485554 18.302923 6 21.859881 6 26 L 8 26 C 8 21.533333 11.533333 18 16 18 C 20.466667 18 24 21.533333 24 26 L 26 26 C 26 21.859881 23.514446 18.302923 19.9375 16.78125 C 21.779617 15.517805 23 13.393064 23 11 C 23 7.1458513 19.854148 4 16 4 z M 16 6 C 18.773268 6 21 8.2267317 21 11 C 21 13.773268 18.773268 16 16 16 C 13.226732 16 11 13.773268 11 11 C 11 8.2267317 13.226732 6 16 6 z" />
		</symbol>

	</svg>
</div>

<% else %>
<div class="sidebar">
	<div class="logo-details">
		<%= image_tag 'imgnew/dhs4.png', alt: 'SmartAdmin', class: 'icon' %>
		<div class="logo_name">DHS</div>
		<i class='bx bx-menu' id="btn"></i>
	</div>
	<ul class="nav-list">
		<!--
					<li>
						<i class='bx bx-search'></i>
						<form action="<%= items_search_dashboard_index_path %>">
						<% @getAllItems = Item.all %>
						<input id="search-fld" type="text" name="param" placeholder="Search Item">
						<span class="tooltip">Search</span>
						<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"></a>
						</form>
					</li>
					-->


		<li>
			<%= link_to root_path do %>
			<i class='bx bx-home'></i>
			<span class="links_name">Home</span>
			<% end %>
			<span class="tooltip">Home</span>
		</li>
		<li class="submenu">
			<a href="#">
				<i class='bx bx-dollar'></i>
				<span class="links_name">Database Harga Satuan</span>
			</a>
			<ul class="dropdown">
				<li class="submenu2">
					<%= link_to index_jasakonstruksi_rokankonstruksi_jasakonstruksi_rokankonstruksi_path(42) do %>
					<p class="psub">Construction</p>
					<% end %>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Jargas</p>
					</a>
					<ul class="dropdown2">
						<li>
							<p class="psub">
								<%= link_to index_jargas_instruments_jargas_instrument_path(43) do %>
								Instrument
								<% end %>
							</p>
						</li>
						<li>
							<%= link_to index_jargas_pipline_jargas_pipeline_path(43) do %>
							<p class="psub">Pipeline</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_jargas_jasakonstruksi_jargas_jasakonstruksi_path(43) do %>
							<p class="psub">
								Jasa Konstruksi
							</p>
							<% end %>
						</li>
					</ul>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Instrument</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_instrumen_field_instrument_field_path(5) do %>
							<p class="psub">Field Instrument</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_valve_instrument_valf_path(5) do %>
							<p class="psub">Instrument Valve</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_fire_instrument_fire_path(5) do %>
							<p class="psub">Fire And Gas</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_metering_instrument_matering_path(5) do %>
							<p class="psub">Matering System</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_icss_instrument_icsss_path(5) do %>
							<p class="psub">Ics</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_instrumen_miscellaneous_instrument_miscellaneouss_path(5) do %>
							<p class="psub">Miscellaneous</p>
							<% end %>
						</li>

					</ul>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Pipeline</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_pipeline_linepipe_pipeline_linepipe_path(1) do %>
							<p class="psub">LinePipe</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_insulation_pipeline_insulation_path(1) do %>
							<p class="psub">Insulation Join</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_barred_pipeline_barred_path(1) do %>
							<p class="psub">Barred Tee</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_valve_pipeline_valf_path(1) do %>
							<p class="psub">Valve</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_hot_pipeline_hot_path(1) do %>
							<p class="psub">Hot Induction Bend</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_flange_pipeline_flange_path(1) do %>
							<p class="psub">Anchor Flange</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_fjc_pipeline_fjc_path(1) do %>
							<p class="psub">FJC</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_pipeline_spacels_pipeline_spacel_path(1) do %>
							<p class="psub">Spacel & END Seal</p>
							<% end %>
						</li>
					</ul>

				</li>
				<li class="submenu2">
					<%= link_to index_mechanical_mechanical_path(3) do %>
					<p class="psub">Mechanical</p>
					<% end %>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Piping</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_pip_pipingpipe_path(4) do %>
							<p class="psub">Pipe</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_fit_pipingfiting_path(4) do %>
							<p class="psub">Fiting</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_gasket_pipinggasket_path(4) do %>
							<p class="psub">Gasket</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_bolts_pipingbolt_path(4) do %>
							<p class="psub">Bolt And Nut</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_flanges_piping_flange_path(4) do %>
							<p class="psub">Flange</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_valves_pipingvalf_path(4) do %>
							<p class="psub">Valves</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_spitems_pipingspitem_path(4) do %>
							<p class="psub">SP Item</p>
							<% end %>
						</li>


					</ul>
				</li>
				<li class="submenu2">
					<a href="#">
						<p class="psub">Civil</p>
					</a>
					<ul class="dropdown2">
						<li>
							<%= link_to index_civilmaterial_civilmaterial_path(21) do %>
							<p class="psub">Civil Material</p>
							<% end %>
						</li>
						<li>
							<%= link_to index_civiljasa_civiljasa_path(21) do %>
							<p class="psub">Civil Jasa</p>
							<% end %>
						</li>
					</ul>
				</li>
				<li class="submenu2">
					<%= link_to index_elektrikal_elektrikal_path(22) do %>
					<p class="psub">Elektrical</p>
					<% end %>
				</li>

			</ul>

		</li>
		<li class="submenu">
			<a href="#">
				<i class='bx bx-line-chart'></i>
				<span class="links_name">Price Analysis</span>
			</a>
			<span class="tooltip">Price Analysis</span>
			<ul class="dropdown">
				<li class="submenu2">
					<%= link_to price_analysis_index_path do %>
					<p class="psub">Price Analysis</p>
					<% end %>
				</li>

				<li class="submenu2">
					<%= link_to inflasis_index_path do %>
					<p class="psub">Inflasi</p>
					<% end %>
				</li>

			</ul>
		</li>


		<li>
			<%= link_to faq_index_path do %>
			<i class='bx bx-question-mark'></i>
			<span class="links_name">FAQ</span>
			<% end %>
			<span class="tooltip">FAQ</span>
		</li>

		<li class="profile">
			<div class="profile-details">
				<!--<img src="profile.jpg" alt="profileImg">-->
				<div class="name_job">
					<div class="name">Username</div>
					<div class="job"><% current_user.roles.each do |role| %>
						<%= role.name %>
						<% end %>
					</div>
				</div>
			</div>
			<span>
				<%= link_to(destroy_user_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'}) do %>
				<i class='bx bx-log-out' id="log_out"></i>
				<% end %>
			</span>
		</li>
	</ul>
</div>


<div class="navbar navbar-expand-lg navbar-light bg-white">
	<%= image_tag 'imgnew/logo_pgasol.png', alt: 'SmartAdmin', class: 'logo_pgasol' %>
	<form action="<%= items_search_dashboard_index_path %>" class="search-form">
		<% @getAllItems = Item.all %>
		<input id="search-fld" type="search" name="param" placeholder="Search" class="search-input">
		<button type="submit" class="search-button">
			<svg class="submit-button">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
			</svg>
		</button>
		<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"></a>
		<div class="search-option">
			<div>

				<input name="type" type="radio" value="type-users" id="type-users">
				<label for="type-users">
					<svg class="edit-pen-title">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
					</svg>
					<span>Username</span>
				</label>
			</div>
		</div>
	</form>
	<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
		<symbol id="search" viewBox="0 0 32 32">
			<path
				d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
		</symbol>
		<symbol id="user" viewBox="0 0 32 32">
			<path
				d="M 16 4 C 12.145852 4 9 7.1458513 9 11 C 9 13.393064 10.220383 15.517805 12.0625 16.78125 C 8.485554 18.302923 6 21.859881 6 26 L 8 26 C 8 21.533333 11.533333 18 16 18 C 20.466667 18 24 21.533333 24 26 L 26 26 C 26 21.859881 23.514446 18.302923 19.9375 16.78125 C 21.779617 15.517805 23 13.393064 23 11 C 23 7.1458513 19.854148 4 16 4 z M 16 6 C 18.773268 6 21 8.2267317 21 11 C 21 13.773268 18.773268 16 16 16 C 13.226732 16 11 13.773268 11 11 C 11 8.2267317 13.226732 6 16 6 z" />
		</symbol>

	</svg>
</div>
<% end %>