<!DOCTYPE html>
<html lang="en-us" id="<%= yield :html_id %>">
<head>
  <meta charset="utf-8">

  <title> Database Harga Satuan </title>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'screen' %>

  <!-- =============== APP SCRIPTS ===============-->
  <%= javascript_include_tag "jquery" if current_user %>

  <!-- FAVICONS -->
  <!-- Boostrap 4 -->
  
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	  <!-- Boostrap 4 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Datatables 4 -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- GOOGLE FONT -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' if current_user %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= yield :head %>
  <style>
    body{
      background-color :#f2f4f4;
    }
    
}


  </style>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
</head>

<body>
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<%= render partial: 'layouts/left_panel' if current_user %>
<!-- END NAVIGATION -->

    <!-- MAIN PANEL -->

      <%= yield :ribbon %>
      <%= yield %>

</div>
<!-- END MAIN PANEL -->

  <!-- PAGE FOOTER -->
  <%= render partial: 'layouts/footer' if current_user %>
  <!-- END PAGE FOOTER -->


<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->
<!-- END SHORTCUT AREA -->

<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<%= javascript_include_tag 'plugin/pace/pace', 'data-pace-options' => '{ "restartOnRequestAfter": true }' if current_user %>

<%= javascript_include_tag 'application' if current_user %>

<%= yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts') if current_user %>
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>  
<!-- Your GOOGLE ANALYTICS CODE Below -->
<% if current_user.present? %>

  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

  </script>
  <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");


      function menuBtnChange() {
          if (sidebar.classList.contains("open")) {
              closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
              sidebar.addEventListener("mouseleave", () => {
                  sidebar.classList.remove("open");
                  closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
              });
          } else {
              closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
          }
      }
</script>
<script>
	$(document).ready(function() {
  $('.dropdown-toggle').click(function() {
    $(this).parent().toggleClass('show-submenu');
  });
});
</script>

<% end %>

</body>

</html>
