<div class="header-title">
	<nav class="navba navbar-light bg-white">
		<div class="item-title">
			<p class="id">CONSTRUCTION</p>
		</div>
	</nav>
</div>
<section class="home-section2">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<select id="column2-filter" class="custom-select">
							<option value="">Product ALL</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<select id="column3-filter" class="custom-select">
							<option value="">Type All</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<select id="column4-filter" class="custom-select">
							<option value="">Brand All</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<select id="column5-filter" class="custom-select">
							<option value="">Size All</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<select id="column8-filter" class="custom-select">
							<option value="">Month All</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<%= select_tag :tahun, options_for_select((2018..Time.now.year).to_a.reverse), prompt: "Years All", id: "column9-filter", class: "custom-select" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<button type="button" style="float: left; margin-right:5px;" class="btn btn-primary"
							data-toggle="modal" data-target="#exampleModal">
							Import Item
						</button>
						<%= link_to jasakonstruksi_rokankonstruksis_new_path, style: "float: left; margin-right:5px;" , class: 'btn btn-primary' do %>
						<span class="glyphicon glyphicon-plus">
						</span>
						New CONSTRUCTION
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="button-card">
	<section class="home-section2">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<form method="post" action="<%= delete_selected_jasakonstruksi_rokankonstruksi_path %>">
						<table id="example" class="table table-striped table-bordered table-hover table-borderless"
							style="width:100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Product</th>
									<th>Type</th>
									<th>Brand</th>
									<th>Size</th>
									<th>General Spec</th>
									<th>Price</th>
									<th>Vendor</th>
									<th>Date</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% if @log_activities1.present? %>
								<% @log_activities1.each_with_index do |item, index| %>
								<% @getLastPriceItems1 = PriceItem.left_outer_joins(:currency).where(item_id: item.iditems).select('*').order('price_items.date DESC').limit(1) %>
								<tr title="<%= @getLastPriceItems1.first.date %>">
									<td><%= index+1 %></td>
									<td><%= item.product_name.nil? ? "-" : item.product_name %></td>
									<td><%= item.name_type.nil? ? "-" : item.name_type %></td>
									<td><%= item.name_brand.nil? ? "-" : item.name_brand %></td>
									<td><%= item.size.nil? ? "-" : item.size %></td>
									<td><%= item.general_spec.nil? ? "-" : item.general_spec %></td>
									<% @getLastPriceItems = PriceItem.left_outer_joins(:currency).where(item_id: item.iditems).select('*').order('price_items.date DESC').limit(1) %>
									<td><%= number_to_currency(@getLastPriceItems.first.price.to_s, :unit => "(#{@getLastPriceItems.first.current_name.to_s}) ").gsub(',', '.').gsub(/\.00$/,'') %>
									</td>
									<td><%= item.namevendors.nil? ? "-" : item.namevendors %></td>
									<td><%= @getLastPriceItems1.first.date %></td>
									<td><%= link_to '', items_show_jasakonstruksi_rokankonstruksi_path(item.iditems), class: 'fa fa-eye btn btn-sm btn-success', title: "Detail" %>
									</td>
									<td><%= link_to '', edit_jasakonstruksi_rokankonstruksi_path(item.iditems), class: 'fa fa-pencil-alt btn btn-sm btn-warning', title: "Edit" %>
									</td>
									<td>
										<%= button_to '', jasakonstruksi_rokankonstruksi_path(item.iditems), method: :delete, data: { toggle: 'modal', target: '#deleteModal' }, form_class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %>
									</td>
									<!-- Modal konfirmasi hapus -->
									<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
										aria-labelledby="deleteModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="deleteModalLabel">Delete Confirmation
													</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													Are you sure you want to delete this item?
												</div>
												<div class="modal-footer">
													<%= button_to 'Delete', jasakonstruksi_rokankonstruksi_path(item.iditems), method: :delete, data: { confirm: 'Are you sure?' }, form_class: 'btn btn-danger', title: "Delete" %>
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Cancel</button>
												</div>
											</div>
										</div>
									</div>
									<!-- Modal konfirmasi hapus -->

									<td><%= check_box_tag "selected_items[]", item.iditems %></td>
								</tr>
								<% end %>
								<% end %>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Product</th>
									<th>Type</th>
									<th>Brand</th>
									<th>Size</th>
									<th>General Spec</th>
									<th>Price</th>
									<th>Vendor</th>
									<th>Date</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</tfoot>
						</table>

						<button type="submit" class="btn btn-primary" style="float: left; margin-right: 5px;">Delete
							Selected</button>
						<%= csrf_meta_tags %>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<%= form_for :import_items, url: import_items_create_path, method: :post do |f|%>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Import Items</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>
					Import Data
				</h4>
				<%= f.file_field :items_import, class: "form-control", accept: 'file/*', onchange: "validateFiles(this);", required: true,
                             data: {max_file_size: 100.megabytes}%>
				<script type="text/javascript">
					function validateFiles(inputFile) {
						var maxExceededMessage = "This file exceeds the maximum allowed file size (100 MB)";
						var extErrorMessage = "Only doc file with extension: .xlsx is allowed";
						var allowedExtension = ["xlsx"];

						var extName;
						var maxFileSize = $(inputFile).data('max-file-size');
						var sizeExceeded = false;
						var extError = false;

						$.each(inputFile.files, function () {
							if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {
								sizeExceeded = true;
							};
							extName = this.name.split('.').pop();
							if ($.inArray(extName, allowedExtension) == -1) {
								extError = true;
							};
						});
						if (sizeExceeded) {
							window.alert(maxExceededMessage);
							$(inputFile).val('');
						};

						if (extError) {
							window.alert(extErrorMessage);
							$(inputFile).val('');
						};
					}
				</script>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<%= f.submit "Upload File", class: 'btn btn-primary' %>
			</div>
			<div class="modal-footer">
				<%= link_to getDataTemplate_jasakonstruksi_rokankonstruksis_path, class: 'btn btn-primary' do %>
				<span class="glyphicon glyphicon-download"></span>
				Download Template CONSTRUCTION
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<% end %>



<% content_for :scripts do %>


<script>
	$(document).ready(function () {

		// DataTables initialisation
		var table = $('#example').DataTable({
			columnDefs: [{
				targets: [8], // index kolom tanggal
				render: function (data, type, row) {
					return moment(data).format('DD-MM-YYYY');
				}
			}],
			initComplete: function () {
				// Add filter for column 2
				this.api().columns(1).every(function () {
					var column = this;
					var select = $('#column2-filter');
					select.on('change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
							$(this).val()
						);
						column.search(val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function (d, j) {
						select.append('<option value="' + d + '">' + d + '</option>');
					});
				});
				this.api().columns(2).every(function () {
					var column = this;
					var select = $('#column3-filter');
					select.on('change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
							$(this).val()
						);
						column.search(val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function (d, j) {
						select.append('<option value="' + d + '">' + d + '</option>');
					});
				});
				this.api().columns(3).every(function () {
					var column = this;
					var select = $('#column4-filter');
					select.on('change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
							$(this).val()
						);
						column.search(val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function (d, j) {
						select.append('<option value="' + d + '">' + d + '</option>');
					});
				});
				this.api().columns(4).every(function () {
					var column = this;
					var select = $('#column5-filter');
					select.on('change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
							$(this).val()
						);
						column.search(val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function (d, j) {
						select.append('<option value="' + d + '">' + d + '</option>');
					});
				});

			}

		});
		// Buat select filter untuk kolom 8
		$('#column8-filter').on('change', function () {
			var selectedMonth = $(this).val();
			table.column(8).search(selectedMonth, true, false).draw();
		});

		// Buat select filter untuk kolom 9
		$('#column9-filter').on('change', function () {
			var selectedYear = $(this).val();
			table.column(8).search(selectedYear, true, false).draw();
		});

		// Buat custom filter untuk kolom 9
		$.fn.dataTable.ext.search.push(
			function (settings, data, dataIndex) {
				var selectedMonth = $('#column8-filter').val();
				var selectedYear = $('#column9-filter').val();
				var date = data[8].split('-');
				if (selectedMonth == '' && selectedYear == '') {
					return true;
				} else if (selectedMonth == '' && date[2] == selectedYear) {
					return true;
				} else if (selectedYear == '' && date[1] == selectedMonth) {
					return true;
				} else if (date[1] == selectedMonth && date[2] == selectedYear) {
					return true;
				}
				return false;
			}
		);

	});
</script>

<% end %>
